artifacts/xbau_kern/1.2.2/xsd/xsd/xbau-kernmodul-basisdatentypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
           targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
           version="1.2.2"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau-Kernmodul</nameLang>
            <nameKurz>XBau-Kernmodul</nameKurz>
            <nameTechnisch>xbau-kernmodul</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau-kernmodul</kennung>
            <beschreibung>Das XBau-Kernmodul umfasst die von den XBau-Fachmodulen gemeinsam verwendeten Daten- und Nachrichtentypen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.2.2</version>
            <beschreibung>In diese Version des XBau-Kernmoduls wurde eine generische Statusnachricht aufgenommen, die von Fach- oder Aufsichtsbehörden verwendet werden kann, um den Bearbeitungsstatus zu einem Vorgang im Antragsportal auch prozessfrei setzen zu können. Außerdem wurde ein generischer Antragsprozess mit passenden Nachrichten definiert, der für frei wählbare Fachkontexte der XBau-Fachmodule eingesetzt werden kann, soweit dafür keine dedizierten Fachnachrichten vorhanden sind. Das OSCI-Transportprofil im Anhang der vorliegenden Spezifikation wurde in Abstimmung mit Betreibern und Herstellern der Transportinfrastruktur präzisiert. Viele Objekte sind jetzt mit ID-Attributen ausgestattet, wodurch die Zuordnung von Daten und Objekten in Änderungsprozessen erleichtert wird. Die Einbindung der GML-Datentypen wurde XÖV-technisch optimiert. Es wurde präzisiert, wie generische Nachrichten ihren Prozesskontext referenzieren müssen, und eine Reihe von Datentypen und Nachrichten wurden funktional ergänzt und an den Bedarf aus der Praxis angepasst. Details zu Erweiterungen und Änderungen sind wie immer in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:simpleType name="Dezimal.XBau">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp stellt numerische Werte mit zwei Nachkommastellen dar. Er kann für Zahlen genutzt werden, die mit dieser Präzision sinnvoll sind. Darum erlaubt der Datentyp Dezimal.XBau zum Beispiel bei der Übertragung der Einheit Meter (m) eine Präzision von einem Zentimeter.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal">
         <xs:fractionDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Jahr">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp wird ein teilweise bekanntes Datum übermittelt. Vom Datum ist nur das Jahr bekannt.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:gYear">
         <xs:pattern value="[0-9]{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="JahrMonat">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp wird ein teilweise bekanntes Datum übermittelt. Vom Datum sind nur Jahr und Monat bekannt.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:gYearMonth">
         <xs:pattern value="[0-9]{4}-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
