artifacts/xbau/2.4/wsdl/XBau24-AVV-BAB2BH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/4/XBau24-AVV-BAB2BH.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/4"
             name="XBau24-AVV-BAB2BH"
             targetNamespace="http://www.xleitstelle.de/xbau/2/4/XBau24-AVV-BAB2BH.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bauportal</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen im Rahmen der Verlängerungen von erteilten Genehmigungen</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeAVV-BAB2BH</i> zulässig:<ul><ul>
            <li>verlaengerung.formellePruefung.0261</li>
            <li>verlaengerung.anhoerung.0263</li>
            <li>verlaengerung.bescheid.0265</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die 12-stelligen Schlüssel für die Bauportale; der zu verwendende Präfix lautet "<b>bap</b>".</p>
<p>Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>". Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauportal</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/4"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/4/XBau24-AVV-BAB2BH.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/4"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/4/xbau-nachrichten-verlaengerung.xsd"/>
         <xs:complexType name="avv-bab2bhSchemata">
            <xs:choice>
               <xs:element name="verlaengerung.anhoerung.0263"/>
               <xs:element name="verlaengerung.bescheid.0265"/>
               <xs:element name="verlaengerung.formellePruefung.0261"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="avv-bab2bhNachricht">
      <part name="avv-bab2bhNachricht" type="tns:avv-bab2bhSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciAVV-BAB2BHInterface">
      <operation name="sendeAVV-BAB2BH">
         <input message="tns:avv-bab2bhNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciAVV-BAB2BHInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeAVV-BAB2BH">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:avv-bab2bhNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciAVV-BAB2BHService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciAVV-BAB2BHInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciAVV-BAB2BHTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
