artifacts/xbau/2.4.0.1/wsdl/wsdl/XBau2401-ANZ-BAB2BH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-ANZ-BAB2BH.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/4/0/1"
             name="XBau2401-ANZ-BAB2BH"
             targetNamespace="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-ANZ-BAB2BH.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bauportal</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen der Bauaufsichtsbehörden im Rahmen der Anzeigen an die Online-Bauportale</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeANZ-BAB2BH</i> zulässig:<ul><ul>
            <li>anzeige.baubeginnUntersagung.0901</li>
            <li>anzeige.baubeginnBaufreigabe.0902</li>
            <li>anzeige.nutzungsaufnahmeUntersagung.0911</li>
            <li>anzeige.nutzungsaufnahmeBauabnahme.0912</li>
            <li>anzeige.beseitigungUntersagung.0953</li>
            <li>anzeige.beseitigungBestaetigung.0955</li>
         </ul></ul></p><p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die amtlichen Gemeindeschlüssel bzw. Kreiskennungen der Bauaufsichtsbehörden; der zu verwendende Präfix lautet "<b>bab</b>".</p><p>Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauportal</b>". Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".</p></body></html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/4/0/1"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-ANZ-BAB2BH.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/4/0/1"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/4/0/1/xbau-nachrichten-anzeige.xsd"/>
         <xs:complexType name="anz-bab2bhSchemata">
            <xs:choice>
               <xs:element name="anzeige.baubeginnBaufreigabe.0902"/>
               <xs:element name="anzeige.baubeginnUntersagung.0901"/>
               <xs:element name="anzeige.beseitigungBestaetigung.0955"/>
               <xs:element name="anzeige.beseitigungUntersagung.0953"/>
               <xs:element name="anzeige.nutzungsaufnahmeBauabnahme.0912"/>
               <xs:element name="anzeige.nutzungsaufnahmeUntersagung.0911"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="anz-bab2bhNachricht">
      <part name="anz-bab2bhNachricht" type="tns:anz-bab2bhSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciANZ-BAB2BHInterface">
      <operation name="sendeANZ-BAB2BH">
         <input message="tns:anz-bab2bhNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciANZ-BAB2BHInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeANZ-BAB2BH">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:anz-bab2bhNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciANZ-BAB2BHService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciANZ-BAB2BHInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciANZ-BAB2BHTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
