artifacts/xbau_kern/1.0/xsd/xsd_dev/xinneres-kommunikation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xikomm="http://www.osci.de/xinneres/kommunikation/3"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xinneres/kommunikation/3"
           version="3"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>7</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.Erreichbarkeit">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Kommunikationskanal / Erreichbarkeit</nameLang>
               <nameKurz>Erreichbarkeit</nameKurz>
               <nameTechnisch>erreichbarkeit</nameTechnisch>
               <kennung>urn:de:xoev:codeliste:erreichbarkeit</kennung>
               <beschreibung>Eine Liste der Kommunikationsmedien und -kanäle, über die man eine Person oder Institution erreichen kann.</beschreibung>
               <herausgebernameLang>Koordinierungsstelle für IT-Standards</herausgebernameLang>
               <herausgebernameKurz>KoSIT</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1</version>
               <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <codeSpalte>Schlüssel</codeSpalte>
               <ersteBeschreibungsspalte>Wert</ersteBeschreibungsspalte>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:annotation>
                     <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
                     <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="01">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>E-Mail</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="02">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Telefon Festnetz</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="03">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Telefon mobil</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="04">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Fax</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="05">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Instant Messenger</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="06">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Pager</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="07">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wertErsteBeschreibungsspalte>Sonstiges</wertErsteBeschreibungsspalte>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="name" minOccurs="0" type="xs:normalizedString">
                  <xs:annotation>
                     <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
                     <xs:documentation>Mit diesem optionalen XML-Element kann die Beschreibung des Codes, wie in der jeweiligen Beschreibungsspalte der Codeliste vorgegeben, übermittelt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:xoev:codeliste:erreichbarkeit">
               <xs:annotation>
                  <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
                  <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig. Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1">
               <xs:annotation>
                  <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
                  <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen. Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Kommunikation">
      <xs:annotation>
         <xs:documentation>Angaben zur Erreichbarkeit einer Behörde oder einer Person (Telefon, Fax, E-Mail, etc.).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kanal" type="xikomm:Code.Erreichbarkeit">
            <xs:annotation>
               <xs:documentation>Es wird angegeben, über welches Kommunikationsmedium (z. B. Telefon, E-Mail) die Erreichbarkeit gegeben ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kennung" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Je nach Kommunikationsmedium (siehe Art) werden nähere Angaben gemacht. In der Regel werden hier Adressangaben eingetragen, etwa die Telefonnummer oder die E-Mail-Adresse.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Eine zusätzliche Bemerkung.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
