artifacts/xbau/2.3/wsdl/XBau23-ABG-BAB2BH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/3/XBau23-ABG-BAB2BH.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/3"
             name="XBau23-ABG-BAB2BH"
             targetNamespace="http://www.xleitstelle.de/xbau/2/3/XBau23-ABG-BAB2BH.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation><![CDATA[
	<html>
	<body><h1>Datenübermittlungen der Bauaufsichtsbehörden im Rahmen des Verfahrens der Erteilung der Abgeschlossenheitsbescheinigung an die Online-Bauportale</h1>
	<p>
		Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeABG-BAB2BH</i> zulässig:
		<ul>
			<ul>
				<li>xbau:abgeschlossenheit.formellePruefung.0251</li>
				<li>xbau:abgeschlossenheit.anhoerung.0253</li>
				<li>xbau:abgeschlossenheit.bescheid.0255</li>
				<li>xbau:abgeschlossenheit.gebuehrenbescheid.0256</li>
			</ul>
		</ul>
	</p>
	<p>
		Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die 12-stelligen Schlüssel für die Bauportale; der zu verwendende Präfix lautet "<b>bap</b>". 
	</p>
	<p>
		Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauportal</b>". Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".
	</p>
	</body>
	</html>]]>
	</documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/3"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/3/XBau23-ABG-BAB2BH.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/3"
                    schemaLocation="https://www.xleitstelle.de/xbau/schema/2/3/xbau-nachrichten-abgeschlossenheitsbescheinigung.xsd"/>
         <xs:complexType name="abg-bab2bhSchemata">
            <xs:choice>
               <xs:element name="abgeschlossenheit.anhoerung.0253"/>
               <xs:element name="abgeschlossenheit.bescheid.0255"/>
               <xs:element name="abgeschlossenheit.formellePruefung.0251"/>
               <xs:element name="abgeschlossenheit.gebuehrenbescheid.0256"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="abg-bab2bhNachricht">
      <part name="abg-bab2bhNachricht" type="tns:abg-bab2bhSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciABG-BAB2BHInterface">
      <operation name="sendeABG-BAB2BH">
         <input message="tns:abg-bab2bhNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciABG-BAB2BHInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeABG-BAB2BH">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:abg-bab2bhNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciABG-BAB2BHService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciABG-BAB2BHInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciABG-BAB2BHTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
