artifacts/xbau/2.3.1/xsd/xsd_dev/xbau-nachrichten-baulastenverzeichnis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/3/1"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2"
           targetNamespace="http://www.xleitstelle.de/xbau/2/3/1"
           version="2.3.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.3.1</version>
            <beschreibung>Diese Version des Standards XBau Hochbau unterstützt zum einen neue Prozesse wie die Baulastauskunft (relevant für die OZG-Umsetzung) und die Datenübermittlung an die Katasterbehörde (Behörde-Behörde-Kommunikation). Der XBau-Prozess zur Genehmigungsfreistellung wurde um das Thema Gebührenbescheid erweitert. Jetzt kann eine Aufforderung zur Stellungnahme (Beteiligung von Fachbehörden) auch zurückgenommen werden. Die Datenformate für die Abfrage bei den Verzeichnissen der Architekten- und Ingenieurkammern wurde praxisgerecht angepasst. Außerdem wurde eine längere Liste von Anpassungen und Erweiterungen von Datentypen umgesetzt. Beispielsweise wurden Aspekte der denkmalschutzrechtlichen Erlaubnis in die Beantragung einer Baugenehmigung aufgenommen. - Alle Änderungen und Erweiterungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2"/>
   <xs:complexType name="BaulastErweitert">
      <xs:annotation>
         <xs:documentation>Erweiterter Datentyp für Baulasten, die bereits vorliegen und daher über eine zugeordnete Baulastnummer gemäß Baulastenverzeichnis verfügen.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xbau:Baulast">
            <xs:sequence>
               <xs:element name="baulastnummer" minOccurs="0" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Soweit von einer bereits existierenden Baulast die Rede ist (nicht eine neue beantragt wird) und eine Baulastnummer vergeben worden ist, ist sie in dieses Element einzutragen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="baulastenverzeichnis.anfrage.0710">
      <xs:annotation>
         <xs:appinfo>
            <title>Anfrage an die Baulastverzeichnis führende Stelle</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht stellt eine Anfrage auf Baulastauskunft an die Baulastverzeichnis führende Stelle dar. Durch das Senden dieser Nachricht fragt der Absender an, welche Baulasten zu dem in der Nachricht dokumentierten Grundstück gehören.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAntragsservice" type="xbauk:ReferenzAntragsservice">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die Behörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anfragendePerson" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Angaben des Antragstellers.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anbindungFachverfahren"
                              minOccurs="0"
                              type="xbauk:AnbindungFachverfahren">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um die behördliche Fachanwendung an das Antragsportal oder die Kollaborationsplattform anzubinden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenGrundstuecke">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Angaben des Grundstücks oder der Grundstücke zu denen die Auskunft angefragt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="grundstueck" maxOccurs="unbounded" type="xbau:Grundstueck">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Daten zu einem der Grundstücke übermittelt, auf das sich die Anfrage bezieht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="berechtigtesInteresse" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="beschreibung" minOccurs="0" type="dinspec91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element kann das berechtigte Interesse je nach Anforderung der unteren Bauaufsichtsbehörde erläutert werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachweis" minOccurs="0" type="xbau:Anlagen">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element kann ein Nachweis über das berechtige Interesse beigefügt werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.formellePruefung.0711">
      <xs:annotation>
         <xs:appinfo>
            <title>Ergebnis der formellen Prüfung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf eine bereits gestellte Anfrage auf Baulastauskunft. Enthalten sind hier die Ergebnisse der formellen Prüfung (Befunde) sowie eine Frist, innerhalb derer der Antragsteller die Anfrage anzupassen hat.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Nachricht baulastenverzeichnis.anfrage.0710 Bezug zu nehmen, durch deren Eingang bei der Behörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundliste" minOccurs="0" type="xbau:BefundlisteFormell">
                     <xs:annotation>
                        <xs:documentation>Hier können die Ergebnisse der formellen Prüfung in Form einer strukturierten Befundliste eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist eingetragen werden, innerhalb derer die genannten Mängel durch den Antragsteller zu beseitigen sind und ein überarbeiteter Antrag einzureichen ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschreiben" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element kann ein Anschreibentext eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angebotFuerAntwortLeser"
                              minOccurs="0"
                              type="xbauk:Verlinkung">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um Webressourcen für ggf. nötige Reaktionen des Lesers auf die vorliegende Nachricht anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Falls die Behörde der Nachricht Anlagen beifügen möchte, ist dieses Element zu verwenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.anfrageGeaendert.0712">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderungen zum Antrag</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält geänderte oder ergänzte Daten der Anfrage auf Baulastauskunft. Sie bezieht sich also auf eine bereits gestellte Antrage und ist in der Regel eine Reaktion auf eine zur Anfrage vorliegenden Mängelliste der Behörde.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Nachricht baulastenverzeichnis.anfrage.0710 Bezug zu nehmen, durch deren Eingang bei der Behörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragsteller" minOccurs="0" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten des Antragstellers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rolleAntragsteller"
                              minOccurs="0"
                              type="xbau:BeteiligterRolle">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Rolle des Antragstellers anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueck" minOccurs="0" type="xbau:Grundstueck">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zu dem Grundstück übermittelt, auf das sich der Antrag bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueckseigentuemer" minOccurs="0" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten des Grundstückseigentümers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Anlagen zum Antrag enthalten. Jede Instanz des Elements steht für ein angehängtes Dokument.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.auskunft.0713">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft aus dem Baulastenverzeichnis</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht liefert die Auskunft aus dem Baulastenverzeichnis.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Anfrage Bezug zu nehmen, zu der die vorliegende Nachricht Auskünfte enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ergebnis">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="negativantwort" minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>Sofern die Anfrage nicht bearbeitet werden kann, wird mit diesem Element eine Negativantwort zurückgegeben.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="negativantwort" default="true" type="xs:boolean">
                                       <xs:annotation>
                                          <xs:documentation>Sofern die Anfrage nicht bearbeitet werden kann, wird mit diesem Element eine Negativantwort zurückgegeben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="begruendung" minOccurs="0" type="xbauk:TextFormatiert">
                                       <xs:annotation>
                                          <xs:documentation>Falls eine Negativantwort zurückgegeben wird, wird in diesem Element die entsprechende Begründung geliefert.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                                       <xs:annotation>
                                          <xs:documentation>Hier sind die Anlagen zur negativen Antwort enthalten. Jede Instanz des Elements steht für ein angehängtes Dokument.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="auskunft">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält die Daten der Baulastauskunft.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="grundstueck" maxOccurs="unbounded">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element werden die Daten zu einem der Grundstücke übermittelt, auf das sich die Anfrage bezieht.</xs:documentation>
                                       </xs:annotation>
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element name="angefragtesGrundstueck" type="xbau:Grundstueck">
                                                <xs:annotation>
                                                   <xs:documentation>Dieses Element enthält Angaben zu einem der Grundstücke aus der Anfrage bezüglich der Baulastauskunft.</xs:documentation>
                                                </xs:annotation>
                                             </xs:element>
                                             <xs:element name="baulastVorhanden" type="xs:boolean">
                                                <xs:annotation>
                                                   <xs:documentation>Mit diesem Element wird angegeben, ob zu dem angefragten Grundstück eine Baulast vorhanden ist.</xs:documentation>
                                                </xs:annotation>
                                             </xs:element>
                                             <xs:element name="baulastDaten"
                                                         minOccurs="0"
                                                         maxOccurs="unbounded"
                                                         type="xbau:BaulastErweitert">
                                                <xs:annotation>
                                                   <xs:documentation>Dieses Element beinhaltet die Daten der Baulast aus dem Baulastenverzeichnis.</xs:documentation>
                                                </xs:annotation>
                                             </xs:element>
                                             <xs:element name="baulastInformation"
                                                         minOccurs="0"
                                                         type="xbau:Code.Baulastauskunft">
                                                <xs:annotation>
                                                   <xs:documentation>Falls Baulasten vorhanden sind, werden mit diesem Element nähere Informationen zur vorhandenen Baulast übermittelt.</xs:documentation>
                                                </xs:annotation>
                                             </xs:element>
                                             <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                                                <xs:annotation>
                                                   <xs:documentation>Falls Baulasten vorhanden sind, werden mit diesem Element Anlagen, beispielsweise Zeichnungen, Baulastenblatt oder Lageplan, übermittelt.</xs:documentation>
                                                </xs:annotation>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.gebuehrenbescheid.0714">
      <xs:annotation>
         <xs:appinfo>
            <title>Gebührenbescheid</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bildet den Gebührenbescheid zur Baulastenauskunft ab.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Objekt enthält die Eintragungen, die auf den Vorgang (bzw. die Antragsnachricht) Bezug nehmen, zu dem die vorliegende Nachricht den Bescheid enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gebuehrenbescheid" type="xbau:Gebuehrenbescheid">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Element finden sich die Angaben zur Gebührenberechnung und -begründung, sowie die Zahlungsdaten und weitere Informationen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Dies ist die durch die Behörde gesetzte Zahlungsfrist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
