artifacts/xbau/2.3.1/xsd/xsd_dev/xinneres-postanschrift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xipa="http://www.osci.de/xinneres/postanschrift/4"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xima="http://www.osci.de/xinneres/meldeanschrift/4"
           targetNamespace="http://www.osci.de/xinneres/postanschrift/4"
           version="4"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xinneres-meldeanschrift.xsd"
              namespace="http://www.osci.de/xinneres/meldeanschrift/4"/>
   <xs:complexType name="PostalischeInlandsanschrift">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp beinhaltet die Angaben für die Adressierung im Inland. Es können entweder Angaben zu einer Gebäudeanschrift oder zu einer Postfachanschrift übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="gebaeude"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Angaben für die Übermittlung einer Gebäudeanschrift.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postfach"
                     type="xipa:PostalischeInlandsanschrift.Postfachanschrift">
            <xs:annotation>
               <xs:documentation>Angaben für die Übermittlung einer Postfachanschrift.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="PostalischeInlandsanschrift.Basis">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp bildet die Basis einer postalischen Gebäudeanschrift. Er basiert auf der Meldeanschrift, enthält aber nur die für die Adressierung erforderlichen Angaben. Die Angabe des Wohnort, der Postleitzahl und der Straße sind in diesem Datentyp verpflichtend.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xima:Meldeanschrift">
            <xs:sequence>
               <xs:element name="hausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Hausnummer">
                  <xs:annotation>
                     <xs:documentation>Es sind nur die Ziffern einer Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hausnummerBuchstabeZusatzziffer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.HausnummerBuchstabeZusatzziffer">
                  <xs:annotation>
                     <xs:documentation>Es sind die Buchstaben oder die Zusatzziffern zur Hausnummer gemäß der amtlichen Festlegung der Gemeinde zur Hausnummer anzugeben. Beispiel: 124 a, 124 A, 109.5, 135.44, 116/1</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="postleitzahl" type="xima:Meldeanschrift.Postleitzahl">
                  <xs:annotation>
                     <xs:documentation>Es ist die Postleitzahl anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="stockwerkswohnungsnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Stockwerkswohnungsnummer">
                  <xs:annotation>
                     <xs:documentation>Es können Stockwerks- oder Wohnungsnummern angegeben werden, soweit sie für die Adressierung erforderlich sind. Beispiele: 7OG, 13OG, P für Parterre, HP für Hochparterre, St für Souterrain oder (Wohnung) 115.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="strasse" type="xima:Meldeanschrift.Strasse">
                  <xs:annotation>
                     <xs:documentation>Es ist die Bezeichnung der Straße anzugeben. Die Feldlänge ist auf 55 Zeichen beschränkt. Bei Überschreitung einer Länge von 25 Zeichen darf sinnvoll abgekürzt werden. Ist keine Straßenbezeichnung - wohl aber eine Hausnummer - vorhanden, so ist die Zeichenkette Hausnummer anzugeben. Sind weder Straßenbezeichnung noch Hausnummer vorhanden, so ist die Zeichenkette ohne Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="teilnummerDerHausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.TeilnummerDerHausnummer">
                  <xs:annotation>
                     <xs:documentation>Es sind Teilnummern zur Hausnummer anzugeben. Beispiel: 16 1/7</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnort" type="xima:Meldeanschrift.Wohnort">
                  <xs:annotation>
                     <xs:documentation>Es ist die postalische Wohnortsbezeichnung anzugeben. Die Feldlänge ist auf 40 Zeichen beschränkt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnortFruehererGemeindename"
                           minOccurs="0"
                           type="xima:Meldeanschrift.WohnortFruehererGemeindename">
                  <xs:annotation>
                     <xs:documentation>Es ist der frühere Gemeindename anzugeben, der als Stadt- bzw. Ortsteilname dem jetzigen Gemeindenamen hinzugefügt werden kann.Der frühere Gemeindename (jetziger Ortsteil- oder Stadtteilname) ist bei Adressierungen unterhalb des Namens (oberhalb der Straßenbezeichnung) anzugeben.Beispiel: Frau Rita Scholl Zuffenhausen Am Stadtpark 12 70123 Stuttgart Die Feldlänge ist auf 40 Zeichen beschränkt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnungsinhaber"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Wohnungsinhaber">
                  <xs:annotation>
                     <xs:documentation>In diesem Element ist der Hauptmieter oder Eigentümer der Wohnung anzugeben, soweit dies für die Adressierung erforderlich ist. Bei Überschreitung einer Länge von 26 Zeichen darf sinnvoll abgekürzt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="zusatzangaben"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Zusatzangaben">
                  <xs:annotation>
                     <xs:documentation>Es sind Zusatzangaben zur Anschrift anzugeben. Beispiele: Hinterhaus, Gartenhaus. Bei Überschreitung einer Länge von 21 Zeichen darf sinnvoll abgekürzt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PostalischeInlandsanschrift.Gebaeudeanschrift">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp beinhaltet die Angaben für die Adressierung im Inland, soweit es sich um eine Gebäudeanschrift (und nicht um eine Postfachanschrift) handelt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xipa:PostalischeInlandsanschrift.Basis">
            <xs:sequence>
               <xs:element name="hausnummern.bis" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Falls ein Hausnummernbereich mitzuteilen ist, muss dieses Element übermittelt werden. Die hier übermittelten Kindelemente enthalten jeweils den Endwert einer Bereichsangabe. Zu einem Hausnummernbereich gehören ein Anfang und ein Ende. Der Anfang wird definiert in den Kindelementen hausnummer, hausnummerbuchstabezusatzziffer und teilnummerderhausnummer. Das Ende wird definiert in den korrespondierenden Kindelementen von hausnummern.bis. Für den Hausnummernbereich 16 - 18 würde hausnummer mit dem Wert 16 und hausnummern.bis/hausnummer.bis mit dem Wert 18 übermittelt. Für den Hausnummernbereich 16a - c würde hausnummer mit dem Wert 16, hausnummerbuchstabezusatzziffer mit dem Wert a und hausnummern.bis/hausnummerbuchstabezusatzziffer.bis mit dem Wert c übermittelt.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="hausnummer.bis"
                                    minOccurs="0"
                                    type="xima:Meldeanschrift.Hausnummer">
                           <xs:annotation>
                              <xs:documentation>Soll ein Hausnummernbereich übermittelt werden, so ist hier das Ende dieses Bereichs zu übermitteln. Der Anfang des Bereichs wird in dem Element hausnummer übermittelt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="hausnummerbuchstabezusatzziffer.bis"
                                    minOccurs="0"
                                    type="xima:Meldeanschrift.HausnummerBuchstabeZusatzziffer">
                           <xs:annotation>
                              <xs:documentation>Soll ein Hausnummernbereich übermittelt werden, so ist hier das Ende dieses Bereichs zu übermitteln. Der Anfang des Bereichs wird in dem Element hausnummerbuchstabezusatzziffer übermittelt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="teilnummerderhausnummer.bis"
                                    minOccurs="0"
                                    type="xima:Meldeanschrift.TeilnummerDerHausnummer">
                           <xs:annotation>
                              <xs:documentation>Soll ein Hausnummernbereich übermittelt werden, so ist hier das Ende dieses Bereichs zu übermitteln. Der Anfang des Bereichs wird in dem Element teilnummerderhausnummer übermittelt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PostalischeInlandsanschrift.Postfachanschrift">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp beinhaltet die Angaben für die Adressierung im Inland, soweit es sich um eine Postfachanschrift (und nicht um eine Gebäudeanschrift) handelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="postfach" minOccurs="0" type="dinspec91379:datatypeC"/>
         <xs:element name="wohnort" type="xima:Meldeanschrift.Wohnort"/>
         <xs:element name="postleitzahl" type="xima:Meldeanschrift.Postleitzahl"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
