artifacts/xbau/2.3.1/xsd/xsd_dev/xinneres-behoerde.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xibehoerde="http://www.osci.de/xinneres/behoerde/5"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xikomm="http://www.osci.de/xinneres/kommunikation/4"
           xmlns:xipa="http://www.osci.de/xinneres/postanschrift/4"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.osci.de/xinneres/behoerde/5"
           version="5"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xinneres-kommunikation.xsd"
              namespace="http://www.osci.de/xinneres/kommunikation/4"/>
   <xs:import schemaLocation="xinneres-postanschrift.xsd"
              namespace="http://www.osci.de/xinneres/postanschrift/4"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Behoerde">
      <xs:annotation>
         <xs:appinfo>
            <title>Behörde</title>
         </xs:appinfo>
         <xs:documentation>Dieser Typ enthält Angaben über den Namen und die Erreichbarkeit einer Behörde. Eine Behörde im Sinne des Verwaltungsverfahrensgesetzes ist jede Stelle, die Aufgaben der öffentlichen Verwaltung wahrnimmt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="behoerdenkennung" type="xibehoerde:Behoerdenkennung">
            <xs:annotation>
               <xs:documentation>Es wird die eindeutige Behördenkennung angegeben, über die die Behörde im DVDV ermittelt werden kann. Diese hier übermittelte Behördenkennung muss es dem Leser einer Nachricht ermöglichen, den Autor einer Nachricht im DVDV zu ermitteln um diesem ggf. erforderliche elektronische Mitteilungen senden zu können (bspw. Quittungen oder Fehlernachrichten).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="erreichbarkeit"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xikomm:Kommunikation">
            <xs:annotation>
               <xs:documentation>Angaben zur Erreichbarkeit dieser Behörde per Telefon, Telefax, E-Mail etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     minOccurs="0"
                     type="xipa:PostalischeInlandsanschrift">
            <xs:annotation>
               <xs:documentation>Die Anschrift dieser Behörde (für persönliches Erscheinen oder die Zusendung von Dokumenten per Briefpost an die Behörde).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="behoerdenname" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Es ist der Name der Behörde zu übermitteln. Er dient auch dazu, eine ggfs. erforderliche manuelle Klärung zu beschleunigen, indem bspw. der Autor einer Nachricht im Klartext übermittelt, an welche Behörde er die Nachricht schicken wollte.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Behoerde.Erreichbar">
      <xs:annotation>
         <xs:appinfo>
            <title>Erreichbare Behörde</title>
         </xs:appinfo>
         <xs:documentation>Dieser Typ enthält Angaben über den Namen und die Erreichbarkeit einer Behörde. Eine Behörde im Sinne des Verwaltungsverfahrensgesetzes ist jede Stelle, die Aufgaben der öffentlichen Verwaltung wahrnimmt. Anders als in dem Typ Behoerde sind in diesem Typen alle Angaben zur Kontaktaufnahme mit der übermittelten Behörde Pflichtelemente.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xibehoerde:Behoerde">
            <xs:sequence>
               <xs:element name="behoerdenkennung" type="xibehoerde:Behoerdenkennung">
                  <xs:annotation>
                     <xs:documentation>Es wird die eindeutige Behördenkennung angegeben, über die die Behörde im DVDV ermittelt werden kann. Diese hier übermittelte Behördenkennung muss es dem Leser einer Nachricht ermöglichen, den Autor einer Nachricht im DVDV zu ermitteln um diesem ggf. erforderliche elektronische Mitteilungen senden zu können (bspw. Quittungen oder Fehlernachrichten).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="erreichbarkeit"
                           maxOccurs="unbounded"
                           type="xikomm:Kommunikation">
                  <xs:annotation>
                     <xs:documentation>Angaben zur Erreichbarkeit dieser Behörde per Telefon, Telefax, E-Mail etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="anschrift" type="xipa:PostalischeInlandsanschrift">
                  <xs:annotation>
                     <xs:documentation>Die Anschrift dieser Behörde (für persönliches Erscheinen oder die Zusendung von Dokumenten per Briefpost an die Behörde).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="behoerdenname" type="dinspec91379:datatypeC">
                  <xs:annotation>
                     <xs:documentation>Es ist der Name der Behörde zu übermitteln.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Behoerdenkennung">
      <xs:annotation>
         <xs:documentation>Die Behoerdenkennung fasst die Elemente zusammen, unter denen eine Behörde als Anbieter elektronischer Services im DVDV verzeichnet ist. Sie besteht aus einem Präfix und der eigentlichen Kennung. Grundsätzlich gibt es zu jedem Präfix eine entsprechende Schlüsseltabelle für die Kennung. Zum Beispiel werden Standesämter über das Präfix psw und die Standesamtsnummer adressiert.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="praefix" type="xibehoerde:Code.Praefix">
            <xs:annotation>
               <xs:documentation>Klasse für Behördenkennungen. Die Liste der Präfixe für Behördenkennungen wird durch das Bundesverwaltungsamt (BVA) als koordinierende Stelle für das DVDV verwaltet.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kennung" type="xibehoerde:Code.Behoerdenkennung">
            <xs:annotation>
               <xs:appinfo>
                  <implementationHint>Solange die Aktualität der für die Adressierung verwendeten Schlüsseltabellen nicht gegeben ist, wird vollständig auf die Plausibilisierung der listVersionID verzichtet.</implementationHint>
               </xs:appinfo>
               <xs:documentation>Dieses Element kennzeichnet eine Behörde innerhalb der durch den Präfix bezeichneten Klasse eindeutig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Code.Behoerdenkennung">
      <xs:annotation>
         <xs:documentation>Die zu verwendende Schlüsseltabelle ergibt sich aus dem Nachrichtenkontext. Zum Beispiel ist bei der Datenübermittlung an ein Standesamt die Schlüsseltabelle der Standesamtsnummern und somit eine Standesamtsnummer als Behördenkennung zu verwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
               <xs:element name="name" type="xs:normalizedString" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.DVDV.Behoerdenschluessel">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>DVDV Behördenschlüssel der Bundesbehörden</nameLang>
               <nameKurz>DVDV.Behoerdenschluessel.Bundesbehoerden</nameKurz>
               <nameTechnisch>dvdv.behoerdenschluessel</nameTechnisch>
               <kennung>urn:xoev-de:bund:bmi:bit:codeliste:dvdv.behoerdenschluessel</kennung>
               <beschreibung>Diese Codeliste enthält die Behördenschlüssel zur Präfix dbs, welches unter anderem für Bundes- und Landesbehörden von der Koordinierenden Stelle DVDV vergeben wird.</beschreibung>
               <herausgebernameLang>Informationstechnikzentrum Bund</herausgebernameLang>
               <herausgebernameKurz>BMI/ITZBund</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
               <xs:element name="name" type="xs:normalizedString" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bmi:bit:codeliste:dvdv.behoerdenschluessel"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Praefix">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Präfixe im DVDV</nameLang>
               <nameKurz>DVDV.Praefixe</nameKurz>
               <nameTechnisch>dvdv.praefix</nameTechnisch>
               <kennung>urn:xoev-de:bund:bmi:bit:codeliste:dvdv.praefix</kennung>
               <beschreibung>Diese Codeliste enthält alle Präfixe, welche im DVDV zum Einsatz kommen.</beschreibung>
               <herausgebernameLang>Informationstechnikzentrum Bund</herausgebernameLang>
               <herausgebernameKurz>BMI/ITZBund</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die mit der genutzten Codeliste beschriebenen Präfixe werden für die fachliche Adressierung über das DVDV verwendet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
               <xs:element name="name" type="xs:normalizedString" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bmi:bit:codeliste:dvdv.praefix"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
