artifacts/xbau/2.3.1/xsd/xsd_dev/xinneres-kommunikation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xikomm="http://www.osci.de/xinneres/kommunikation/4"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.osci.de/xinneres/kommunikation/4"
           version="4"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.Erreichbarkeit">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Kommunikationskanal/Erreichbarkeit</nameLang>
               <nameKurz>Erreichbarkeit</nameKurz>
               <nameTechnisch>Erreichbarkeit</nameTechnisch>
               <kennung>urn:de:xoev:codeliste:erreichbarkeit</kennung>
               <beschreibung>Eine Liste der Kommunikationsmedien und -kanäle, über die man eine Person oder Institution erreichen kann.</beschreibung>
               <herausgebernameLang>Koordinierungsstelle für IT-Standards</herausgebernameLang>
               <herausgebernameKurz>KoSIT</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <Schluessel>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </Schluessel>
               <Wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </Wert>
            </codelistenspalten>
            <genutzteCodeSpalte>Schluessel</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="01">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>E-Mail</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="02">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Telefon Festnetz</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="03">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Telefon mobil</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="04">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Fax</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="05">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Instant Messenger</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="06">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Pager</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="07">
                           <xs:annotation>
                              <xs:appinfo>
                                 <Wert>Sonstiges</Wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="name" type="xs:normalizedString" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:xoev:codeliste:erreichbarkeit"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Kommunikation">
      <xs:annotation>
         <xs:documentation>Angaben zur Erreichbarkeit einer Behörde oder einer Person (Telefon, Fax, E-Mail, etc.).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kanal" type="xikomm:Code.Erreichbarkeit">
            <xs:annotation>
               <xs:documentation>Es wird angegeben, über welches Kommunikationsmedium (z. B. Telefon, E-Mail) die Erreichbarkeit gegeben ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kennung" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Je nach Kommunikationsmedium (siehe Art) werden nähere Angaben gemacht. In der Regel werden hier Adressangaben eingetragen, etwa die Telefonnummer oder die E-Mail-Adresse.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="dinspec91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Eine zusätzliche Bemerkung.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
