artifacts/xbau/2.5/xsd/xsd/xbau-nachrichten-baulasten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/5"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
           targetNamespace="http://www.xleitstelle.de/xbau/2/5"
           version="2.5"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.5</version>
            <beschreibung>Die Datenübermittlung an die Statistischen Landesämter gemäß novelliertem Hochbaustatistikgesetz (HBauStatG) wurde in der vorliegenden XBau-Version in einem eigenen Kapitel ausgearbeitet und differenziert. Der Nachrichtenaustausch mit dem Portal ELBA des Bundesverbands der Prüfingenieure wurde überarbeitet und um den Prozess der Bauüberwachung erweitert. Neu aufgenommen wurde auch die Beteiligung von Angrenzern bei der Prüfung eines Bauvorhabens, sowie die Datenübermittlung an den Unfallversicherungsträger. Die Umsetzung des Gebäudeenergiegesetzes wurde der neuen rechtlichen Lage angepasst. Details zu weiteren Änderungen und Erweiterungen sind wie immer in der Versionshistorie beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/2/2/xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"/>
   <xs:element name="baulasten.vorlageErklaerung.0700">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (1, 2) MBO</rechtsgrundlage>
            <title>Baulasterklärung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient dazu, der Bauaufsichtsbehörde die Baulast-Erklärung sowie ergänzende Dokumentationen zuzustellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" minOccurs="0" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Im Kontext einer nicht-selbständigen Baulasterklärung wird hier der Bezug zu einem laufenden Baugenehmigungsverfahren hergestellt. Im anderen Fall existiert noch keine Vorgangsnummer, so dass dieses Element nicht verwendet wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baulast"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbau:Baulast">
                     <xs:annotation>
                        <xs:documentation>Falls Baulasterklärungen im Rahmen des Baugenehmigungsverfahrens gefordert sind, können hier der Zweck der angestrebten Baulast sowie der zu regelnde Sachverhalt beschrieben werden. Ein passendes Dokument Baulasterklärung muss sich dann unter den Anlagen dieser Nachricht finden. Jede Instanz des Elements steht für eine erklärte Baulast.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind alle Pläne darzustellen, die für die Eindeutigkeit der Baulasterklärung relevant sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulasten.nachforderung.0701">
      <xs:annotation>
         <xs:appinfo>
            <title>Nachforderung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält die Befunde der Bauaufsichtsbehörde zu der eingereichten Baulasterklärung bzw. den beigefügten Unterlagen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der Vorgang (Vorgangsnummer, unter der die Behörde die Baulasterklärung bearbeitet) genannt bzw. dem Antragsteller mitgeteilt bzw. die Nachricht baulasten.vorlageErklaerung.0700 eingetragen, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundliste" type="xbau:BefundlisteFormell">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Ergebnisse der formellen Prüfung enthalten. Die Liste nennt die Mängel, die bei der Prüfung der Baulast-Erklärung aufgefallen sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulasten.information.0702">
      <xs:annotation>
         <xs:appinfo>
            <title>Information</title>
         </xs:appinfo>
         <xs:documentation>Die Akteure, die die Baulast-Erklärung vorgelegt haben, werden durch diese Nachricht über das Ergebnis der Prüfung informiert.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulasterklärung genannt und die Nachricht baulasten.vorlageErklaerung.0700 genannt , durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sachverhalt">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Ergebnisse der Prüfung der Baulasterklärung.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="baulastAkzeptiert" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Falls die Baulast akzeptiert und eingetragen wurde, ist hier 'true' zu übermitteln, anderenfalls 'false'.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="begruendung" minOccurs="0" type="xbauk:Text">
                              <xs:annotation>
                                 <xs:documentation>Falls die Baulast durch die Behörde nicht akzeptiert und eingetragen wurde, wird in diesem Element die Begründung für diese Entscheidung geliefert.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier ist im Erfolgsfall die Dokumentation der vorgenommenen Eintragung ins BL-Verzeichnis enthalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
