artifacts/xbau/2.3/xsd/xinneres-datum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           targetNamespace="http://www.osci.de/xinneres/datum/2"
           version="2"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:simpleType name="Jahr">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp wird ein teilweise bekanntes Datum übermittelt. Vom Datum ist nur das Jahr bekannt.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:gYear">
         <xs:pattern value="[0-9]{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="JahrMonat">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp wird ein teilweise bekanntes Datum übermittelt. Vom Datum sind nur Jahr und Monat bekannt.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:gYearMonth">
         <xs:pattern value="[0-9]{4}-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Tagesdatum">
      <xs:annotation>
         <xs:appinfo>
            <title>Vollständig bekanntes Datum</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp wird ein vollständig bekanntes Datum übermittelt. Anders als in xs:date ist hier die Angabe einer Zeitzone jedoch nicht möglich.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:date">
         <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TagesdatumMitUnbekannt">
      <xs:annotation>
         <xs:appinfo>
            <title>Tagesdatum oder unbekannt</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp kann entweder ein vollständiges Tagesdatum übermittelt werden oder angegeben werden, dass ein Tagesdatum unbekannt ist. Falls das Tagesdatum vollständig bekannt ist, wird dieses im Kindelement datum übermittelt. Andernfalls wird das Kindelement unbekannt übermittelt, welches den Wert true enthält.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="datum" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Das vollständig bekannte Datum.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="unbekannt" fixed="true" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Das Merkmal mit dem angezeigt wird, dass das Datum unbekannt ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="TeilbekanntesDatum">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilweise bekanntes Datum</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp kann entweder ein vollständig bekanntes oder ein teilweise bekanntes Datum übermittelt werden. Die Angabe einer Zeitzone ist in keinem Fall möglich.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="jahrMonatTag" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Angabe eines vollständigen Datums</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="jahrMonat" type="xida:JahrMonat">
            <xs:annotation>
               <xs:documentation>Angabe eines Datums mit Jahr und Monat</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="jahr" type="xida:Jahr">
            <xs:annotation>
               <xs:documentation>Angabe eines Datums durch eine Jahresangabe</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="TeilbekanntesDatumMitUnbekannt">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilweise bekanntes Datum oder unbekannt</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp kann entweder ein teilweise bekanntes Datum übermittelt oder angegeben werden, dass ein Tagesdatum vollständig unbekannt ist. Ist das Datum vollständig unbekannt, wird das Kindelement unbekannt übermittelt, welches den Wert true enthält.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="teilbekanntesDatum" type="xida:TeilbekanntesDatum">
            <xs:annotation>
               <xs:documentation>Das teilweise bekannte Datum</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="unbekannt" fixed="true" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Die Verwendung dieses Merkmals zeigt an, dass das Datum vollständig unbekannt ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
</xs:schema>
