artifacts/xbau/2.3/xsd/xinneres-codes-gemeindeverzeichnis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xicgvz="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/3"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/3"
           version="3"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XInneres-Basismodul</nameLang>
            <nameKurz>XInneres-Basismodul</nameKurz>
            <nameTechnisch>xinneres.basismodul</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.basismodul</kennung>
            <beschreibung>Im Auftrag des AK I hat die PG Standard bisher unter anderem die fachlichen Vorgaben und die Struktur der Meldeanschrift für die Bereiche Ausländer-, Melde- und Personenstandswesen harmonisiert. Der vorliegende Standard XInneres bildet auf technischer Ebene eine Klammer vor den Standards der Innenverwaltung. An dieser Stelle können gemeinsam genutzte Komponenten definiert werden. In der ersten Version von XInneres definiert der Standard die Datentypen für die Darstellung der Meldeanschrift.</beschreibung>
         </standard>
         <versionStandard>
            <version>9</version>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.GemeindeVZ.AmtlicherGemeindeschluessel">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Gemeinden, dargestellt durch den Amtlichen Gemeindeschlüssel (AGS) des Statistischen Bundesamtes</nameLang>
               <nameKurz>AGS</nameKurz>
               <nameTechnisch>AGS</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:ags</kennung>
               <beschreibung>Diese Codeliste stellt alle Gemeinden Deutschlands durch den Amtlichen Gemeindeschlüssel (AGS) dar, wie im Gemeindeverzeichnis des Statistischen Bundesamtes enthalten. Darüber hinaus enthält die Codeliste für die Stadtstaaten Hamburg, Bremen und Berlin Einträge für Stadt-/Ortsteile bzw. Stadtbezirke. Diese Einträge sind mit einem entsprechenden Hinweis versehen.</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
            <title>Amtlicher Gemeindeschlüssel</title>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
               <xs:element name="name" type="xs:normalizedString" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:ags"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
