artifacts/xbau/2.3.1/webservices/wsdl/XBau231-BAB2STAT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/3/1/XBau231-BAB2STAT.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/3/1"
             name="XBau231-BAB2STAT"
             targetNamespace="http://www.xleitstelle.de/xbau/2/3/1/XBau231-BAB2STAT.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation><![CDATA[<html>
	<body>
	<h1>Datenübermittlungen der Bauaufsichtsbehörde an die Statistik</h1>
	<p>
		Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBAB2STAT</i> zulässig:
		<ul>
			<ul>
				<li>xbau:informationsempfaenger.statistikBaufertigstellung.0410</li>
				<li>xbau:informationsempfaenger.statistikBaugenehmigung.0411</li>
				<li>xbau:informationsempfaenger.statistikBauabgang.0412</li>
				<li>xbau:informationsempfaenger.statistikBauueberhang.0413</li>
				<li>xbau:informationsempfaenger.statistikBaubeginn.0414</li>
			</ul>
		</ul>
	</p>
	<p>
		Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen ist der Organisationsschlüssel 490030050000 des zentralen Dateneingangs der amtlichen Statistik; der zu verwendende Präfix lautet "<b>dbs</b>". 
	</p>
	<p>
		Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bundesbehörde</b>". Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".
	</p>
	</html>]]>
	
	<tpl:categories>
		<tpl:category>Bundesbehörde</tpl:category>
	</tpl:categories> 

	</documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/3/1"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/3/1/XBau231-BAB2STAT.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/3/1"
                    schemaLocation="https://www.xleitstelle.de/xbau/schema/2/3/1/xbau-nachrichten-informationsempfaenger.xsd"/>
         <xs:complexType name="bab2statSchemata">
            <xs:choice>
               <xs:element name="informationsempfaenger.statistikBauabgang.0412"/>
               <xs:element name="informationsempfaenger.statistikBaubeginn.0414"/>
               <xs:element name="informationsempfaenger.statistikBaufertigstellung.0410"/>
               <xs:element name="informationsempfaenger.statistikBaugenehmigung.0411"/>
               <xs:element name="informationsempfaenger.statistikBauueberhang.0413"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bab2statNachricht">
      <part name="bab2statNachricht" type="tns:bab2statSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBAB2STATInterface">
      <operation name="sendeBAB2STAT">
         <input message="tns:bab2statNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBAB2STATInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBAB2STAT">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bab2statNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBAB2STATService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBAB2STATInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBAB2STATTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
