artifacts/xbau/2.6/xsd/xsd/xbau-nachrichten-abgeschlossenheitsbescheinigung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.xleitstelle.de/xbau/2/6"
           version="2.6"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.6</version>
            <beschreibung>Die Nachrichtenkommunikation im Beteiligungsverfahren wurde erweitert und flexibilisiert. Das Baulastverfahren wurde erweitert um eine Vielzahl von Details, u.a. wurden Nachrichtentypen zur Eintragung und zur Löschung von Baulasten definiert. Die Anzeigeprozesse zum Bauzustand wurden weiterentwickelt zu einer stringent geregelten Nachrichtenkommunikation auf Basis der 900er-Nachrichten. Es wurde die Benachrichtigung über einen Bescheidabruf eingeführt, auch ist in XBau jetzt ein Mechanismus für die generische Zustellquittierung enthalten. Es wurden für die Datenübermittlung an die statistischen Ämter XML-Geschäftsregeln zur technischen Überprüfung auf Basis der Technologie ISO-Schematron bereitgestellt. Die Prozesse der Statistikmeldungen wurden auf genehmigungsfreigestellte Verfahren ausgedehnt. Für den Prozess Nachweis Bauvorlageberechtigung können jetzt aus dem Kammerregister abgerufene Daten als solche gekennzeichnet und in ihrer Anwendung in der Antragstellung nachvollzogen werden. Der Prozess zur Abgeschlossenheitsbescheinigung wurde vervollständigt und ausdifferenziert. Die weiteren Details zu Erweiterungen und Änderungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/3/0/xbau-kernmodul-basisdatentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"/>
   <xs:import schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/3/0/xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:complexType name="AbgeschlossenheitsbescheinigungDaten">
      <xs:annotation>
         <xs:documentation>Dieser Typ beinhaltet die Angaben zu einem Gebäude, die im Rahmen einer Abgeschlossenheitsbscheinigung relevant sind, sowie Angaben zu den einzelnen Räumlichkeiten, für die die Abgeschlossenheitsbscheinigung beantragt wird.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="angabenEinheiten">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Informationen zu den Wohnungen bzw. Räumen übermittelt, für die eine Abgeschlossenheitsbescheinigung beantragt wird.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="einheitenAnzahl">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="anzahlWohnungen" minOccurs="0" type="xs:positiveInteger">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird die Anzahl der Wohnungen übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="anzahlNichtbewohnbareRaeume"
                                       minOccurs="0"
                                       type="xs:positiveInteger">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird die Anzahl der nichtbewohnbaren Räume übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="anzahlGaragenUndStellplaetze"
                                       minOccurs="0"
                                       type="xs:positiveInteger">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element nennt die Anzahl der Garagen und Stellplätze (z.B. Parkplätze, Plätze in Tiefgaragen etc.).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="einheitenNummern">
                     <xs:annotation>
                        <xs:documentation>Hier werden die Nummern der Wohnungen etc. übermittelt. Diese können als Bereiche angegeben werden (z.B. "11A bis 21C") und müssen mit der Darstellung im Aufteilungsplan korrespondieren.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="nummernWohnungen" minOccurs="0" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Nummern der bewohnbaren Wohnungen übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nummernNichtbewohnbareRaeume"
                                       minOccurs="0"
                                       type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Nummern der nichtbewohnbaren Räume übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nummernGaragenUndStellplaetze"
                                       minOccurs="0"
                                       type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Nummern der Garagen und Stellplätze (z.B. Parkplätze, Plätze in Tiefgaragen etc.) übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="angabenZumGebaeude">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Angaben zum Gebäude übermittelt, die für die Bearbeitung der Abgeschlossenheitsbescheinigung relevant sind.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="gebaeudeBestehtBereits" minOccurs="0" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Sofern das Gebäude bereits errichtet worden ist, ist der Wert true anzugeben, sonst false.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baugenehmigungBeantragt" minOccurs="0" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Sofern eine Baugenehmigung beantragt wurde (und der Antragsprozess noch läuft), ist der Wert true anzugeben. Wurde die Baugenehmigung bereits erteilt, ist der Wert false einzutragen. Liegt eine Baugenehmigung nicht (mehr) vor, obwohl das Gebäude bereits errichtet wurde, ist dieses Element nicht zu instantiieren.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="vorgang" minOccurs="0" type="din91379:datatypeC">
                     <xs:annotation>
                        <xs:documentation>Hier ist das Akteinzeichen des laufenden bzw. des abgeschlossenen Baugenehmigungsverfahrens einzutragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baujahr" minOccurs="0" type="xbauk:Jahr">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das (ggf. geplante) Baujahr des Gebaeudes übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wohneigentum" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Wird eine Abgeschlossenheitsbescheingung für Wohneigentum nach § 7 WoEigG beantragt, ist das Element mit Wert true zu instantiieren.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dauerwohnrecht" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Wird eine Abgeschlossenheitsbescheinigung für ein Dauerwohnrecht nach § 32 WoEigG beantragt, ist das Element mit Wert true zu instantiieren.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BezugNeuantrag">
      <xs:annotation>
         <xs:documentation>Dieser Typ beinhaltet das Aktenzeichen des ursprünglichen Antrags, auf das sich der Änderungsantrag bezieht.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorgang" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Sofern zu dem Gebäude ein Aktenzeichen einer beantragten oder genehmigten Baugenehmigung vorliegt, ist dieses mit diesem Element zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="abgeschlossenheit.antrag.0250">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§§ 7, 32 WEG</rechtsgrundlage>
            <title>Antragstellung gemäß WoEigG</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zum Antrag auf eine Abgeschlossenheitsbescheinigung für Wohneigentum nach § 7 WoEigG oder auf Dauerwohnrecht nach § 32 WoEigG an die Bauaufsichtsbehörde übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAntragsservice" type="xbauk:ReferenzAntragsservice">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die Bauaufsichtsbehörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragsteller" minOccurs="0" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>In dieses Element sind die Daten des Antragstellers bzw. der Antragsteller einzutragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsantrag" minOccurs="0" type="xbau:BezugNeuantrag">
                     <xs:annotation>
                        <xs:documentation>Falls der vorliegende Antrag ein Änderungsantrag ist, wird mit diesem Element das Aktenzeichen des ursprünglichen Antrags übermittelt, auf das sich der Änderungsantrag bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueck" maxOccurs="unbounded" type="xbau:Grundstueck">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zu dem Grundstück übermittelt, auf das sich der Antrag der Abgeschlossenheitsbescheinigung bezieht. Falls mehrere Grundstücke betroffen sind, ist das Element mehrfach zu instantiieren.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="abgeschlossenheitsbescheinigung"
                              type="xbau:AbgeschlossenheitsbescheinigungDaten">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Informationen zu den Räumlichkeiten und der Art der beantragten Abgeschlossenheitsbescheinigung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Anlagen zum Antrag übermittelt wie bspw. Auszüge aus dem Liegenschaftskataster, Aufteilungspläne und weitere relevante sonstige Anlagen. Dazu kann optional auch ein Grundbuchauszug gehören.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="abgeschlossenheit.formellePruefung.0251">
      <xs:annotation>
         <xs:appinfo>
            <title>Ergebnis der formellen Prüfung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf einen bereits gestellten Antrag auf Abgeschlossenheit. Enthalten sind hier die Ergebnisse der formellen Prüfung (Befunde) sowie eine Frist, innerhalb derer der Antragsteller den Antrag auf Abgeschlossenheit bzw. die Bauunterlagen anzupassen hat, falls in der formellen Prüfung Mängel festgestellt wurden. Falls im Rahmen der formellen Prüfung alle Merkmale positiv bewertet wurden (Zuständigkeit ist gegeben, Unterlagen liegen vollständig vor usw.), sind hier Angaben zur Genehmigungsfrist und zu den eingereichten Unterlagen enthalten.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den Vorgang (oder den Antrag) bzw. die Nachricht abgeschlossenheit.antrag.0250 Bezug zu nehmen, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist. Damit wird gleichzeitig dem Antragsteller die entsprechende Vorgangsnummer für künftige Referenzierung mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragVollstaendig" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird angegeben, ob der Antrag vollständig oder nicht vollständig ist. Falls der Antrag vollständig ist, ist true einzutragen, andernfalls false.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundFrist" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Falls im Rahmen der formellen Prüfung Mängel festgestellt wurden, sind diese Angaben zu machen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="befundliste" type="xbau:BefundlisteFormell">
                              <xs:annotation>
                                 <xs:documentation>Hier können die Ergebnisse der formellen Prüfung in Form einer strukturierten Befundliste eingetragen werden (die Liste zählt Mängel des Antrags auf Abgeschlossenheit auf).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="frist" minOccurs="0" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist eingetragen werden, innerhalb derer die genannten Mängel durch den Antragsteller zu beseitigen sind und ein überarbeiteter Antrag einzureichen ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anschreiben" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element kann ein Anschreibentext eingetragen werden. Der Anschreibentext kann auch verwendet werden, um Informationen zu organisatorischen Themen zwischen Bauaufsicht und Bauvorhaben zu übermitteln, beispielsweise zur Mitteilung eines Anhörungstermins.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Falls die Behörde der Nachricht Anlagen beifügen möchte, ist dieses Element zu verwenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="abgeschlossenheit.antragGeaendert.0252">
      <xs:annotation>
         <xs:appinfo>
            <title>Korrekturen / Modifikationen zum Antrag</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält geänderte oder ergänzte Daten der Antragstellung zur Abgeschlossenheit. Sie bezieht sich auf einen bereits gestellten Antrag, zu dem noch kein Bescheid erteilt wurde. Entweder ist sie eine Reaktion auf eine zum Antrag vorliegende Mängelliste der Bauaufsichtsbehörde, oder der Antragsteller reicht aus anderen Gründen einen modifizierten Antrag im laufenden Verfahren nach.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf Gegenstände Bezug zu nehmen, auf die die vorliegende Nachrichteninstanz eine Reaktion ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beteiligteGeaendert"
                              minOccurs="0"
                              type="xbau:BeteiligteBauprojekt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden ggf. geänderte Daten zu Beteiligten am Verfahren übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="abgeschlossenheitsbescheinigungGeaendert"
                              minOccurs="0"
                              type="xbau:AbgeschlossenheitsbescheinigungDaten">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden ggf. geänderte Informationen zu den Räumlichkeiten und der Art der Abgeschlossenheitsbescheinigung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten. Nachgereichte Anlagen: Aus der Beschreibung bzw. Bezeichnung der Anlage muss (wie immer) der Charakter der nachgereichten Unterlage hervorgehen. Ein gesonderter Bezug auf den Befund der Befundliste (z.B. Befund-Nr.), der ggf. zur Übermittlung dieser Unterlage führte, ist nicht erforderlich. Geänderte Anlagen: In diesem Fall wird eine neue Version (jüngeres Erstellungsdatum) einer bereits vorher gelieferten Anlage übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="abgeschlossenheit.anhoerung.0253">
      <xs:annotation>
         <xs:appinfo>
            <title>Hinweis auf Anhörung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht fordert den Bauherrn zur Stellungnahme auf, nachdem die materielle Prüfung des Antrags auf Abgeschlossenheit ergeben hat, dass Gründe vorliegen, die zu seiner Ablehnung durch die Bauaufsichtsbehörde führen können. Es sind die Befunde enthalten, die das Ergebnis der materiellen Prüfung sind. Diese werden hier aufgelistet bzw. im Anhang der Nachricht dokumentiert mit dem Hinweis, dass Gelegenheit zu Stellungnahme bzw. Nachbesserung besteht.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Antrag auf Abgeschlossenheit Bezug zu nehmen; außerdem ggf. auf die Nachricht grundstuecksteilung.antrag.0250, die den Vorgang ausgelöst hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufforderungZurStellungnahme" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Aufforderung zu Stellungnahme in Form eines Anschreibens formuliert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bescheidlage" minOccurs="0" type="xbau:BefundlisteMateriell">
                     <xs:annotation>
                        <xs:documentation>Hier können die Gründe, die nach aktueller Lage zur Ablehnung des Antrags durch die Bauaufsichtsbehörde führen können, in Form einer strukturierten Liste angegeben werden. Es handelt sich um eine Liste von Abweichungen von den öffentlich-rechtlichen Vorschriften, die sich aus der laufenden Prüfung des Antrags auf Abgeschlossenheit ergeben hat. Zu jedem Eintrag der Liste fordert die Nachricht zu einer Stellungnahme bzw. Nachbesserung auf.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist angegeben werden, innerhalb derer eine Stellungnahme des Antragstellers vorliegen muss, damit sie berücksichtigt werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Für die Aufforderung zur Stellungnahme ggf. notwendige Anhänge können hier der Nachricht als Anlage beigefügt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="abgeschlossenheit.stellungnahme.0254">
      <xs:annotation>
         <xs:appinfo>
            <title>Stellungnahme oder Nachbesserung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf einen bereits gestellten Antrag auf Abgeschlossenheit und auf eine zu diesem vorliegende Anhörungsnachricht. Sie enthält Stellungnahmen des Bauherrn bzw. des Entwurfsverfassers zu den Eigenschaften des Vorhabens, die von der Bauaufsichtsbehörde beanstandet wurden. Sie enthält ggf. außerdem den nachgebesserten Antrag.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Antrag auf Abgeschlossenheit Bezug zu nehmen und außerdem auf die Nachricht abgeschlossenheit.anhoerung.0254, auf deren Inhalt sich die vorliegende Nachricht bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="stellungnahme"
                              maxOccurs="unbounded"
                              type="xbau:StellungnahmeBelastenderVerwaltungsakt">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Reaktion auf die in der Anhörungsnachricht enthaltenen Punkte einzutragen. Dies kann eine Verteidigung des ursprünglichen Antrags sein, dies kann aber auch eine geänderte Antragsunterlage sein, welche in diesem Fall im Abschnitt Anpassungen dokumentiert ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten, passend zur weiter oben gegebenen Stellungnahme bzw. Erläuterung der Anpassung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="abgeschlossenheit.bescheid.0255">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§§ 3 (3), 7 (4) Nr. 2, 32 (2) Nr. 2 WEG</rechtsgrundlage>
            <title>Bescheid</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht stellt den Bescheid dar, in den die Bauaufsichtsbehörde die Ergebnisse der materiellen Prüfung einträgt. Ein Antrag auf Abgeschlossenheit wird entweder genehmigt oder abgelehnt (genehmigt mit Nebenbestimmungen ist nicht als Möglichkeit vorgesehen). Das Absenden dieser Nachricht stellt das Erteilen des Bescheids dar.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Objekt enthält die Eintragungen, die auf den Vorgang bzw. die Nachricht abgeschlossenheit.antrag.0250 mit dem Antrag Bezug nehmen, zu dem die vorliegende Nachricht den Bescheid enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bescheid" type="xbau:Bescheid">
                     <xs:annotation>
                        <xs:documentation>In diesem Objekt sind die verschiedenen Komponenten des Bescheides enthalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Anlagen zum Bescheid bzw. Verweise auf diese Anlagen enthalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
