artifacts/xbau/2.6/xsd/xsd/xbau-nachrichten-kammernverzeichnis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.xleitstelle.de/xbau/2/6"
           version="2.6"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.6</version>
            <beschreibung>Die Nachrichtenkommunikation im Beteiligungsverfahren wurde erweitert und flexibilisiert. Das Baulastverfahren wurde erweitert um eine Vielzahl von Details, u.a. wurden Nachrichtentypen zur Eintragung und zur Löschung von Baulasten definiert. Die Anzeigeprozesse zum Bauzustand wurden weiterentwickelt zu einer stringent geregelten Nachrichtenkommunikation auf Basis der 900er-Nachrichten. Es wurde die Benachrichtigung über einen Bescheidabruf eingeführt, auch ist in XBau jetzt ein Mechanismus für die generische Zustellquittierung enthalten. Es wurden für die Datenübermittlung an die statistischen Ämter XML-Geschäftsregeln zur technischen Überprüfung auf Basis der Technologie ISO-Schematron bereitgestellt. Die Prozesse der Statistikmeldungen wurden auf genehmigungsfreigestellte Verfahren ausgedehnt. Für den Prozess Nachweis Bauvorlageberechtigung können jetzt aus dem Kammerregister abgerufene Daten als solche gekennzeichnet und in ihrer Anwendung in der Antragstellung nachvollzogen werden. Der Prozess zur Abgeschlossenheitsbescheinigung wurde vervollständigt und ausdifferenziert. Die weiteren Details zu Erweiterungen und Änderungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/3/0/xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:element name="kammernverzeichnis.anfrage.0930">
      <xs:annotation>
         <xs:appinfo>
            <title>Anfrage zur Mitgliedschaft einer Person in einer Kammer</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Anfrage an den Verzeichnisdienst der Kammern gerichtet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAbfrage" type="xbauk:ReferenzAbfrage">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die Bauaufsichtsbehörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anbindungFachverfahren"
                              minOccurs="0"
                              type="xbauk:AnbindungFachverfahren">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um die behördliche Fachanwendung an das Antragsportal oder die Kollaborationsplattform anzubinden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenAnfrage" type="xbau:MerkmaleKammerneintragErweitert">
                     <xs:annotation>
                        <xs:documentation>Eine Instanz dieses Elements enthält die Merkmale, auf deren Basis ein Datensatz im Verzeichnis einer Architekten- oder Ingenieurkammer identifiziert werden soll. Es muss mitgliedsnummer, personennummer oder name (oder auch alle drei) instantiiert sein.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="kammernverzeichnis.auskunft.0931">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft zur Mitgliedschaft einer Person in einer Kammer</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht liefert die Auskunft des Verzeichnisdienstes der Kammern.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Objekt werden Eintragungen vorgenommen, um auf die Anfrage Bezug zu nehmen, zu der die vorliegende Nachricht Auskünfte enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenAnfrage" type="xbau:MerkmaleKammerneintragErweitert">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Merkmale einzutragen, die in der korrespondierenden Anfrage übermittelt wurden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auskunftKammernverzeichnis"
                              minOccurs="0"
                              maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>In einer Instanz dieses Elements werden die Daten aus dem angefragten Kammernverzeichnis zur Person mit der angefragten Mitgliedsnummer, Personennummer oder Namen übermittelt. Ein Fehlen dieses Elements zeigt an, dass die Anfrage korrekt bearbeitet werden konnte, das angefragte Kammernverzeichnis zu den übermittelten Merkmalen aber keinen Eintrag enthält (es wird keine Person mit der angegebenen Mitgliedsnummer, Personennummer oder Namen geführt).</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="name" type="xbauk:NameNatuerlichePerson">
                              <xs:annotation>
                                 <xs:documentation>Namensangaben zur angefragten Person</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nummernKammernverzeichnis">
                              <xs:annotation>
                                 <xs:documentation>In diesem Objekt werden die im Datensatz im Kammernverzeichnis gespeicherten Nummern zur angefragten Person übermittelt. Zu Personen, die laut Verzeichnis mehrere Personennummern habe, können diese alle in einer Ergebnisnachricht übermittelt werden. Wenn die vorliegende Nachrichteninstanz Daten aus einem Kammernverzeichnis liefert, dann muss dieses Objekt gefüllt sein. Es sind die gespeicherten Nummern zu übermitteln</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="mitgliedsnummer" minOccurs="0" type="xs:token">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Elements übermittelt die Mitgliedsnummer aus dem Kammernverzeichnis.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="personennummer"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xs:token">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element wird instantiiert, wenn im Kammerverzeichnis gespeicherte Personennummern für Nichtmitglieder übermittelt werden sollen.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="kammer" type="xbau:Code.Kammer">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element enthält die Bezeichnung der Architekten- oder Ingenieurkammer, aus deren Verzeichnis die Daten übermittelt wurden.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="berufsbezeichnung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Angaben zur Berufsbezeichnung (Architekt, Stadtplaner usw.). Pro Angabe ist ein separates Element zu instantiieren.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="status" minOccurs="0" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Zur detaillierten Beurteilung der Bauvorlageberechtigung durch die Bauaufsicht kann hier der Status der Person, z.B. selbständig oder angestellt bei einer Behörde, übermittelt werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachweisBerechtigung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbauk:Text">
                              <xs:annotation>
                                 <xs:documentation>Angaben zu Nachweis und Prüfberechtigung. Pro Angabe ist ein separates Element zu befüllen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="sperrung" minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>Falls Informationen über eine Sperrung im Kammernverzeichnis vorliegen (z.B. aufgrund von entzogener Bauvorlageberechtigung, Disziplinarmaßnahmen, Ablauf der Registrierung, fehlenden Nachweisen), können diese hier angegeben werden.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="statusSperrung" type="xbau:Code.StatusSperrungKammernverzeichnis">
                                       <xs:annotation>
                                          <xs:documentation>In diesem Element ist anzugeben, in welchem Status sich die Sperrung befindet.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="gesperrtSeit" minOccurs="0" type="xs:date">
                                       <xs:annotation>
                                          <xs:documentation>Falls im Kammernverzeichnis aktuell eine Sperrung eingetragen ist, kann hier der Beginn des Sperrungszeitraums angegeben werden.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="bemerkungen" minOccurs="0" type="din91379:datatypeC">
                                       <xs:annotation>
                                          <xs:documentation>In diesem Element können weitere Hinweise zur Sperrung eingetragen werden.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Wurden die Informationen aus dem Kammernverzeichnis per automatisiertem Nachweisabruf bereitgestellt, kann hier die XNachweis-Datei beigefügt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
