artifacts/xbau/2.6/xsd/xsd/xbau-nachrichten-baulastenverzeichnis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           targetNamespace="http://www.xleitstelle.de/xbau/2/6"
           version="2.6"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.6</version>
            <beschreibung>Erweiterung von Prozess und Nachrichten zur Baulast: Es wurden Nachrichten zur Löschung und zur Eintragung von Baulasten erstellt. Erweiterung des Prozesses Anzeige Bauzustand: Erweiterung zu einem vollständigen und produktionsreifen Prozess auf Basis der 900er-Nachrichten. Vervollständigung der Prozessstringenz: Es wurden Nachrichten zur Benachrichtigung über den Abruf des Bescheids und die Zustellquittierung sowie Hinweise auf die Rücknahmefiktion ergänzt. Geschäftsregeln: Es wurden Geschäftsregeln im Schematronstandard für Datenübermittlungen zur Hochbaustatistik bereitgestellt. Weitere Details zu Erweiterungen und Änderungen sind in der Versionshistorie beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/3/0/xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:element name="baulastenverzeichnis.anfrage.0710">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (5) MBO</rechtsgrundlage>
            <title>Anfrage an die Baulastverzeichnis führende Stelle</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht stellt eine Anfrage auf Baulastauskunft an die Baulastverzeichnis führende Stelle dar. Durch das Senden dieser Nachricht fragt der Absender an, welche Baulasten zu dem in der Nachricht dokumentierten Grundstück gehören.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAntragsservice" type="xbauk:ReferenzAntragsservice">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die Behörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragsteller" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Angaben des Antragstellers.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rolleAntragsteller"
                              minOccurs="0"
                              type="xbau:BeteiligterRolle">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Rolle des Antragstellers anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anbindungFachverfahren"
                              minOccurs="0"
                              type="xbauk:AnbindungFachverfahren">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um die behördliche Fachanwendung an das Antragsportal oder die Kollaborationsplattform anzubinden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenGrundstuecke">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Angaben des Grundstücks oder der Grundstücke zu denen die Auskunft angefragt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="grundstueck"
                                       maxOccurs="unbounded"
                                       type="xbau:GrundstueckBaulast">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Daten zu einem der Grundstücke übermittelt, auf das sich die Anfrage bezieht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="berechtigtesInteresse" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>In diesem Element können Angaben zu einem berechtigten Interesse gemacht werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="beschreibung" minOccurs="0" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element kann das berechtigte Interesse je nach Anforderung der unteren Bauaufsichtsbehörde erläutert werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachweis" minOccurs="0" type="xbau:Anlagen">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element kann ein Nachweis über das berechtige Interesse beigefügt werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.formellePruefung.0711">
      <xs:annotation>
         <xs:appinfo>
            <title>Ergebnis der formellen Prüfung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf eine bereits gestellte Anfrage auf Baulastauskunft. Enthalten sind hier die Ergebnisse der formellen Prüfung (Befunde) sowie eine Frist, innerhalb derer der Antragsteller die Anfrage auf Baulastauskunft anzupassen hat, falls in der formellen Prüfung Mängel festgestellt wurden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Nachricht baulastenverzeichnis.anfrage.0710 Bezug zu nehmen, durch deren Eingang bei der Behörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragVollstaendig" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird angegeben, ob der Antrag vollständig oder nicht vollständig ist. Falls der Antrag vollständig ist, ist true einzutragen, andernfalls false.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundFrist" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Falls im Rahmen der formellen Prüfung Mängel festgestellt wurden, sind diese Angaben zu machen. Die Befundliste enthält die Ergebnisse der formellen Prüfung durch die Bauaufsichtsbehörde. Enthalten ist außerdem eine Frist zur Anpassung von Bauvorhaben bzw. Bauunterlagen durch den Antragsteller.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="befundliste" type="xbau:BefundlisteFormell">
                              <xs:annotation>
                                 <xs:documentation>Hier können die Ergebnisse der formellen Prüfung in Form einer strukturierten Befundliste eingetragen werden (die Liste zählt Mängel des Bauantrags auf).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="frist" minOccurs="0" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist eingetragen werden, innerhalb derer die genannten Mängel durch den Antragsteller zu beseitigen sind und ein überarbeiteter Antrag einzureichen ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anschreiben" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element kann ein Anschreibentext eingetragen werden. Der Anschreibentext kann auch verwendet werden, um Informationen zu organisatorischen Themen zwischen Bauaufsicht und Bauvorhaben zu übermitteln, beispielsweise zur Mitteilung eines Anhörungstermins.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angebotFuerAntwortLeser"
                              minOccurs="0"
                              type="xbauk:Verlinkung">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um Webressourcen für ggf. nötige Reaktionen des Lesers auf die vorliegende Nachricht anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Falls die Behörde der Nachricht Anlagen beifügen möchte, ist dieses Element zu verwenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.anfrageGeaendert.0712">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderungen zum Antrag</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält geänderte oder ergänzte Daten der Anfrage auf Baulastauskunft. Sie bezieht sich also auf eine bereits gestellte Antrage und ist in der Regel eine Reaktion auf eine zur Anfrage vorliegenden Mängelliste der Behörde.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Nachricht baulastenverzeichnis.anfrage.0710 Bezug zu nehmen, durch deren Eingang bei der Behörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragsteller" minOccurs="0" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden ggf. korrigierte oder ergänzte Daten des Antragstellers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rolleAntragsteller"
                              minOccurs="0"
                              type="xbau:BeteiligterRolle">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Rolle des Antragstellers anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueck" minOccurs="0" type="xbau:Grundstueck">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden ggf. korrigierte oder ergänzte Daten zu dem Grundstück übermittelt, auf das sich der Antrag bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueckseigentuemer" minOccurs="0" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden ggf. korrigierte oder ergänzte Daten des Grundstückseigentümers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten. Nachgereichte Anlagen: Aus der Beschreibung bzw. Bezeichnung der Anlage muss (wie immer) der Charakter der nachgereichten Unterlage hervorgehen. Ein gesonderter Bezug auf den Befund der Befundliste (z.B. Befund-Nr.), der ggf. zur Übermittlung dieser Unterlage führte, ist nicht erforderlich. Geänderte Anlagen: In diesem Fall wird eine neue Version (jüngeres Erstellungsdatum) einer bereits vorher gelieferten Bauvorlage übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastenverzeichnis.auskunft.0713">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft aus dem Baulastenverzeichnis</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht liefert die Auskunft aus dem Baulastenverzeichnis: Sofern die Anfrage nicht bearbeitet werden kann, wird mit diesem Element eine Negativantwort zurückgegeben. Sofern die Anfrage bearbeitet werden kann, werden mit diesem Element die Daten der Baulastauskunft übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf die Anfrage Bezug zu nehmen, zu der die vorliegende Nachricht Auskünfte enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ergebnis">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="negativantwort">
                              <xs:annotation>
                                 <xs:documentation>Sofern die Anfrage nicht bearbeitet werden kann, wird mit diesem Element eine Negativantwort zurückgegeben.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="negativantwort" default="true" type="xs:boolean">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element wird eine Negativantwort zurückgegeben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="begruendung" type="xbauk:TextFormatiert">
                                       <xs:annotation>
                                          <xs:documentation>Iin diesem Element wird die entsprechende Begründung zur Negativantwort geliefert.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                                       <xs:annotation>
                                          <xs:documentation>Hier sind die Anlagen zur negativen Antwort enthalten. Jede Instanz des Elements steht für ein angehängtes Dokument.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="auskunft" type="xbau:GrundstueckBaulastauskunft">
                              <xs:annotation>
                                 <xs:documentation>Sofern die Anfrage bearbeitet werden kann, werden mit diesem Element die Daten der Baulastauskunft übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
