artifacts/xbau/2.4.0.1/xsd/xsd_dev/xbau-nachrichten-ueberwachungspflichtigeAnlagen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/4/0/1"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/1/1"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.xleitstelle.de/xbau/2/4/0/1"
           version="2.4.0.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.4.0.1</version>
            <beschreibung>Minorversion 2.4.0.1 --> aufgrund von technischen Änderungen erhielten alle Codelisten eine neue Versionsnummer. Außerdem wurden die Dienste für das Beteiligungsverfahren und das Genehmigungsfreistellungsverfahren korrigiert. Details dieser und weiterer Änderungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben. --- In XBau 2.4 wurden folgende Änderungen dokumentiert --> XBau Hochbau unterstützt neu den Prozess der Verlängerung einer erteilten Baugenehmigung, sowie erweiterte Prozesse für Akteneinsicht und für Behördenbeteiligung. Weitere Neuigkeiten: Die Bauaufsichtsbehörde kann jetzt im Rahmen von Antragsverfahren die Information übermitteln, dass die Antragsunterlagen vollständig eingegangen sind und damit die Uhr für die materielle Prüfung des Antrags zu ticken begonnen hat. Gebührenbescheide können innerhalb passender Vorgänge jetzt auch prozessfrei übermittelt werden. Für Nachrichten an Portale (z.B. Beteiligungsportale oder Portal ELBA der Prüfingenieure) sind jetzt die Adressaten innerhalb des Portals individuell adressierbar. Hersteller von Architektensoftware haben die Möglichkeit, Stamm- und Antragsdaten zu Vorgängen medienbruchfrei in die Bauportale zu importieren. Die Datenübermittlungen an die amtliche Statistik wurden in vielen Details der Nachrichten und Datentypen verbessert, erweitert und dokumentiert. Alle XBau-Nachrichten sind an die neue Nachrichtenarchitektur gemäß XÖV-Bibliothek angepasst, d.h verwenden die Struktur der XÖV-Basisnachricht. Details dieser und weiterer Änderungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.2</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:import schemaLocation="latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/1/1"/>
   <xs:complexType name="MppvoPruefergebnis">
      <xs:annotation>
         <xs:documentation>Dieser Typ deckt zum Prüfgegenstand die wichtigsten Ergebnisse der durchgeführten Prüfung ab.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="keinMangel" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Falls in der Prüfung der technischen Anlage kein Mangel festgestellt wurde (alle Pflichteigenschaften für den freigegebenen Betrieb sind gewährleistet), enthält dieses Element "true", andernfalls "false".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nachpruefung">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die Festlegungen im Prüfergebnis zu einer ggf. erforderlichen Nachprüfung.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="nichtErforderlich" fixed="true" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Dieses Element ist auszuwählen, falls eine Nachprüfung nicht notwendig ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="erforderlich">
                     <xs:annotation>
                        <xs:documentation>Dieses Element ist auszuwählen, falls eine Nachprüfung notwendig ist. Es enthält Informationen über die dafür vorliegenden Gründe.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="grund"
                                       maxOccurs="unbounded"
                                       type="xbau:Code.MppvoNachpruefungGrund">
                              <xs:annotation>
                                 <xs:documentation>Pro Instanz dieses Elements wird ein Grund genannt dafür, dass eine Nachprüfung notwendig ist (es können mehrere Gründe zutreffen).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="weiterbetrieb">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die Festlegungen im Prüfergebnis zu einem zugelassenen bzw. nicht zugelassenen Weiterbrieb der geprüften technischen Anlage.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="festlegung" type="xbau:Code.MppvoTechnischeAnlageWeiterbetrieb">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Information zu hinterlegen, ob und ggf. bis zu welcher Frist ein Weiterbetrieb der geprüften technischen Anlage gestattet ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" maxOccurs="unbounded" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Falls der Weiterbetrieb nur befristet gestattet wird, ist hier das Datum des Fristablaufs zu hinterlegen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ueberwachungspflichtigeAnlagen.pruefbescheinigung.0800">
      <xs:annotation>
         <xs:appinfo>
            <title>Prüfbescheinigung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient zur Übermittlung der Prüfbescheinigung an die Bauaufsichtsbehörde. Sie enthält alle relevanten Informationen zur Bewertung der Wirksamkeit und Betriebssicherheit der geprüften überwachungspflichtigen Anlagen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird die Vorgangsnummer bzw. das Aktenzeichen zur erteilten Baugenehmigung übermittelt, die der Errichtung des Gebäudes und der technischen Anlage(n) zu Grunde lag.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gebaeude" type="xbau:Grundstueck">
                     <xs:annotation>
                        <xs:documentation>Hier wird der Ort der Prüfung bezeichnet, nämlich Anschrift und Flurstück zum Gebäude, in dem die geprüften technischen Anlagen installiert sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="pruefgegenstand" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Jede Instanz dieses Elements beinhaltet Informationen zu einem Gegenstand der Prüfung (eine bestimmte technische Anlage in dem lokalisierten Gebäude) und zum Ergebnis der Prüfung dieses Gegenstands. Pro Element wird genau eine technische Anlage referenziert; die Prüfung kann mehrere technische Anlagen in dem Gebäude zum Gegenstand haben.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="identifikation" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Hier ist die Identifikation des Prüfgegenstands, z.B. die Seriennummer, einzutragen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezeichnung" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Hier steht eine deskriptive Bezeichnung des Prüfgegenstands (z.B. Lüftungsanlage im Gebäudetrakt Süd).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDerTechnischenAnlage" type="xbau:Code.MppvoTechnischeAnlage">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält Angaben zur Art der geprüften technischen Anlage.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="anlassDerPruefung">
                              <xs:annotation>
                                 <xs:documentation>In diesem Element wird zum gegebenen Prüfgegenstand der Anlass der durchgeführten Prüfung genannt.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anlass" type="xbau:Code.MppvoPruefungTechnischeAnlageAnlass">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element nennt den Anlass der durchgeführten Prüfung. Es deckt eine Reihe von Standardfällen ab.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="nebenbestimmung"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbau:Nebenbestimmung">
                                       <xs:annotation>
                                          <xs:documentation>Hier werden ggf. die Nebenbestimmungen der Baugenehmigung, insofern diese Prüfungen vorsehen, aufgeführt. Diese können ebenfalls Anlass einer durchgeführten Prüfung sein.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="pruefergebnis" type="xbau:MppvoPruefergebnis">
                              <xs:annotation>
                                 <xs:documentation>In dieses Element sind zum Prüfgegenstand die wichtigsten Ergebnisse der durchgeführten Prüfung einzutragen. Weitere Details zum Prüfergebnis sind dem Prüfbericht zu entnehmen, der in der Anlage zur vorliegenden Nachricht enthalten ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Die Anlagen enthalten den Prüfbericht, der auch die Bewertung des Prüfergebnisses vornimmt und Konsequenzen empfiehlt. Der Inhalt des Prüfberichts ist in den Musterprüfgrundsätzen definiert (Anlage zur Musterprüfverordnung Ziffer 4). Der Betreiber der technischen Anlagen hat den Prüfbericht typischerweise als Papierdokument vom Prüfsachverständigen erhalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ueberwachungspflichtigeAnlagen.erinnerung.0801">
      <xs:annotation>
         <xs:appinfo>
            <title>Erinnerung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient der Information des Betreibers, dass eine Prüfbescheinigung überfällig ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird die Vorgangsnummer bzw. das Aktenzeichen zur erteilten Baugenehmigung übermittelt, die der Errichtung des Gebäudes und der technischen Anlage(n) zu Grunde lag.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="pruefgegenstand">
                     <xs:annotation>
                        <xs:documentation>Dieses Element bezeichnet den Gegenstand der Prüfung, eine bestimmte technische Anlage in dem lokalisierten Gebäude. Pro Element wird genau eine technische Anlage referenziert. Die Prüfung kann mehrere technische Anlagen in dem Gebäude zum Gegenstand haben.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="identifikation" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Hier ist die Identifikation des Prüfgegenstands, z.B. die Seriennummer, einzutragen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezeichnung" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Hier steht eine deskriptive Bezeichnung des Prüfgegenstands (z.B. Lüftungsanlage im Gebäudetrakt Süd).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDerTechnischenAnlage" type="xbau:Code.MppvoTechnischeAnlage">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält Angaben zur Art der geprüften technischen Anlage.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="anlassDerPruefung">
                              <xs:annotation>
                                 <xs:documentation>In diesem Element wird zum gegebenen Prüfgegenstand der Anlass der durchgeführten Prüfung genannt.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anlass" type="xbau:Code.MppvoPruefungTechnischeAnlageAnlass">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element nennt den Anlass der durchgeführten Prüfung. Es deckt eine Reihe von Standardfällen ab.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="nebenbestimmung"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbau:Nebenbestimmung">
                                       <xs:annotation>
                                          <xs:documentation>Hier werden ggf. die Nebenbestimmungen der Baugenehmigung, insofern diese Prüfungen vorsehen, aufgeführt. Diese können ebenfalls Anlass einer durchgeführten Prüfung sein.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="pruefergebnis" type="xbau:MppvoPruefergebnis">
                              <xs:annotation>
                                 <xs:documentation>In dieses Element sind zum Prüfgegenstand die wichtigsten Ergebnisse der durchgeführten Prüfung einzutragen. Weitere Details zum Prüfergebnis sind dem Prüfbericht zu entnehmen, der in der Anlage zur vorliegenden Nachricht enthalten ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlassDerPruefung">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der Anlass der durchgeführten Prüfung genannt, über deren Ergebnis berichtet wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="anlass" type="xbau:Code.MppvoPruefungTechnischeAnlageAnlass">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element nennt den Anlass der durchgeführten Prüfung. Es deckt eine Reihe von Standardfällen ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nebenbestimmung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbau:Nebenbestimmung">
                              <xs:annotation>
                                 <xs:documentation>Hier werden ggf. die Nebenbestimmungen der Baugenehmigung, insofern diese Prüfungen vorsehen, aufgeführt. Diese können ebenfalls Anlass einer durchgeführten Prüfung sein.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
