artifacts/xbau/2.6/specs/din-91379-datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           version="2019-03"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:documentation>Diese Schema-Datei enthГӨlt die technische ReprГӨsentation der in der DIN SPEC 91379 definierten Datentypen.</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datatypeA">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>Datentyp A</nameLang>
               <nameKurz>Datentyp A</nameKurz>
               <nameTechnisch>datatypeA</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:din-spec-91379.datatypeA</kennung>
               <externeWebsite>https://www.din.de/de/wdc-beuth:din21:301228458</externeWebsite>
            </datentyp>
            <versionDatentyp>
               <version>2019-03</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Der Datentyp A gibt wieder, welche Schriftzeichen in hoheitlichen Dokumenten fГјr Namen natГјrlicher Personen verwendet werden.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="( |'|[,-\.]|[A-Z]|[`-z]|~|ВЁ|Вҙ|В·|[ГҖ-Г–]|[Гҳ-Г¶]|[Гё-Еҫ]|[ЖҮ-ЖҲ]|ЖҸ|Ж—|[Ж -ЖЎ]|[ЖҜ-Ж°]|Ж·|[ЗҚ-Зң]|[Зһ-Зҹ]|[Зў-З°]|[Зҙ-Зө]|[Зё-Зҝ]|[И’-И“]|[Иҳ-Иӣ]|[Иһ-Иҹ]|[И§-Иі]|Йҷ|ЙЁ|К’|[К№-Кә]|[Кҫ-Кҝ]|ЛҲ|ЛҢ|[бёӮ-бёғ]|[бёҶ-бёҮ]|[бёҠ-бё‘]|[бёң-бё«]|[бёҜ-бё·]|[бёә-бё»]|[б№Җ-б№ү]|[б№’-б№ӣ]|[б№һ-б№Ј]|[б№Ә-б№Ҝ]|[бәҖ-бәҮ]|[бәҢ-бә—]|бәһ|[бә -б»№]|вҖҷ|вҖЎ|AМӢ|C(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|DМӮ|F(МҖ|М„)|GМҖ|H(М„|МҰ|Мұ)|J(МҒ|МҢ)|K(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|НҹH|Нҹh)|L(МӮ|МҘ|МҘМ„|МҰ)|M(МҖ|МӮ|МҶ|Мҗ)|N(МӮ|М„|МҶ|МҰ)|P(МҖ|М„|М•|МЈ)|R(МҶ|МҘ|МҘМ„)|S(МҖ|М„|МӣМ„|Мұ)|T(МҖ|М„|МҲ|М•|Мӣ)|UМҮ|Z(МҖ|М„|МҶ|МҲ|М§)|aМӢ|c(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|dМӮ|f(МҖ|М„)|gМҖ|h(М„|МҰ)|jМҒ|k(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|Нҹh)|l(МӮ|МҘ|МҘМ„|МҰ)|m(МҖ|МӮ|МҶ|Мҗ)|n(МӮ|М„|МҶ|МҰ)|p(МҖ|М„|М•|МЈ)|r(МҶ|МҘ|МҘМ„)|s(МҖ|М„|МӣМ„|Мұ)|t(МҖ|М„|М•|Мӣ)|uМҮ|z(МҖ|М„|МҶ|МҲ|М§)|ГҮМҶ|ГӣМ„|Г§МҶ|Г»М„|ГҝМҒ|ДҢ(М•|МЈ)|ДҚ(М•|МЈ)|ДӘМҒ|Д«МҒ|ЕҪ(МҰ|М§)|Еҫ(МҰ|М§)|бёІМ„|бёіМ„|б№ўМ„|б№ЈМ„|б№¬М„|б№ӯМ„|бә МҲ|бәЎМҲ|б»ҢМҲ|б»ҚМҲ|б»Ө(М„|МҲ)|б»Ҙ(М„|МҲ))*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="datatypeB">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>Datentyp B</nameLang>
               <nameKurz>Datentyp B</nameKurz>
               <nameTechnisch>datatypeB</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:din-spec-91379.datatypeB</kennung>
               <externeWebsite>https://www.din.de/de/wdc-beuth:din21:301228458</externeWebsite>
            </datentyp>
            <versionDatentyp>
               <version>2019-03</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Der Datentyp B wurde vor allem fГјr sonstige Namen, wie z. B. Ortsnamen und StraГҹennamen mit Hausnummer, entworfen.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([ -~]|[ВЎ-ВЈ]|ВҘ|[В§-В¬]|[В®-В·]|[В№-В»]|[Вҝ-Еҫ]|[ЖҮ-ЖҲ]|ЖҸ|Ж—|[Ж -ЖЎ]|[ЖҜ-Ж°]|Ж·|[ЗҚ-Зң]|[Зһ-Зҹ]|[Зў-З°]|[Зҙ-Зө]|[Зё-Зҝ]|[И’-И“]|[Иҳ-Иӣ]|[Иһ-Иҹ]|[И§-Иі]|Йҷ|ЙЁ|К’|[К№-Кә]|[Кҫ-Кҝ]|ЛҲ|ЛҢ|[бёӮ-бёғ]|[бёҶ-бёҮ]|[бёҠ-бё‘]|[бёң-бё«]|[бёҜ-бё·]|[бёә-бё»]|[б№Җ-б№ү]|[б№’-б№ӣ]|[б№һ-б№Ј]|[б№Ә-б№Ҝ]|[бәҖ-бәҮ]|[бәҢ-бә—]|бәһ|[бә -б»№]|вҖҷ|вҖЎ|вӮ¬|AМӢ|C(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|DМӮ|F(МҖ|М„)|GМҖ|H(М„|МҰ|Мұ)|J(МҒ|МҢ)|K(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|НҹH|Нҹh)|L(МӮ|МҘ|МҘМ„|МҰ)|M(МҖ|МӮ|МҶ|Мҗ)|N(МӮ|М„|МҶ|МҰ)|P(МҖ|М„|М•|МЈ)|R(МҶ|МҘ|МҘМ„)|S(МҖ|М„|МӣМ„|Мұ)|T(МҖ|М„|МҲ|М•|Мӣ)|UМҮ|Z(МҖ|М„|МҶ|МҲ|М§)|aМӢ|c(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|dМӮ|f(МҖ|М„)|gМҖ|h(М„|МҰ)|jМҒ|k(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|Нҹh)|l(МӮ|МҘ|МҘМ„|МҰ)|m(МҖ|МӮ|МҶ|Мҗ)|n(МӮ|М„|МҶ|МҰ)|p(МҖ|М„|М•|МЈ)|r(МҶ|МҘ|МҘМ„)|s(МҖ|М„|МӣМ„|Мұ)|t(МҖ|М„|М•|Мӣ)|uМҮ|z(МҖ|М„|МҶ|МҲ|М§)|ГҮМҶ|ГӣМ„|Г§МҶ|Г»М„|ГҝМҒ|ДҢ(М•|МЈ)|ДҚ(М•|МЈ)|ДӘМҒ|Д«МҒ|ЕҪ(МҰ|М§)|Еҫ(МҰ|М§)|бёІМ„|бёіМ„|б№ўМ„|б№ЈМ„|б№¬М„|б№ӯМ„|бә МҲ|бәЎМҲ|б»ҢМҲ|б»ҚМҲ|б»Ө(М„|МҲ)|б»Ҙ(М„|МҲ))*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="datatypeC">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>Datentyp C</nameLang>
               <nameKurz>Datentyp C</nameKurz>
               <nameTechnisch>datatypeC</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:din-spec-91379.datatypeC</kennung>
               <externeWebsite>https://www.din.de/de/wdc-beuth:din21:301228458</externeWebsite>
            </datentyp>
            <versionDatentyp>
               <version>2019-03</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Der Datentyp C wurde fГјr alle normativen Schriftzeichen der DIN SPEC entworfen. Er ist somit die technische Umsetzung der Schnittstellenvereinbarung Alle nach DIN SPEC 91379 normativen Schriftzeichen. Texte mit griechischen oder kyrillischen Buchstaben oder mit erweiterten (nicht-normativen) Nicht-Buchstaben sind unzulГӨssig.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([&#x9;-&#xA;]|&#xD;|[ -~]|[В -В¬]|[В®-Еҫ]|[ЖҮ-ЖҲ]|ЖҸ|Ж—|[Ж -ЖЎ]|[ЖҜ-Ж°]|Ж·|[ЗҚ-Зң]|[Зһ-Зҹ]|[Зў-З°]|[Зҙ-Зө]|[Зё-Зҝ]|[И’-И“]|[Иҳ-Иӣ]|[Иһ-Иҹ]|[И§-Иі]|Йҷ|ЙЁ|К’|[К№-Кә]|[Кҫ-Кҝ]|ЛҲ|ЛҢ|[бёӮ-бёғ]|[бёҶ-бёҮ]|[бёҠ-бё‘]|[бёң-бё«]|[бёҜ-бё·]|[бёә-бё»]|[б№Җ-б№ү]|[б№’-б№ӣ]|[б№һ-б№Ј]|[б№Ә-б№Ҝ]|[бәҖ-бәҮ]|[бәҢ-бә—]|бәһ|[бә -б»№]|вҖҷ|вҖЎ|вӮ¬|AМӢ|C(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|DМӮ|F(МҖ|М„)|GМҖ|H(М„|МҰ|Мұ)|J(МҒ|МҢ)|K(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|НҹH|Нҹh)|L(МӮ|МҘ|МҘМ„|МҰ)|M(МҖ|МӮ|МҶ|Мҗ)|N(МӮ|М„|МҶ|МҰ)|P(МҖ|М„|М•|МЈ)|R(МҶ|МҘ|МҘМ„)|S(МҖ|М„|МӣМ„|Мұ)|T(МҖ|М„|МҲ|М•|Мӣ)|UМҮ|Z(МҖ|М„|МҶ|МҲ|М§)|aМӢ|c(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|dМӮ|f(МҖ|М„)|gМҖ|h(М„|МҰ)|jМҒ|k(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|Нҹh)|l(МӮ|МҘ|МҘМ„|МҰ)|m(МҖ|МӮ|МҶ|Мҗ)|n(МӮ|М„|МҶ|МҰ)|p(МҖ|М„|М•|МЈ)|r(МҶ|МҘ|МҘМ„)|s(МҖ|М„|МӣМ„|Мұ)|t(МҖ|М„|М•|Мӣ)|uМҮ|z(МҖ|М„|МҶ|МҲ|М§)|ГҮМҶ|ГӣМ„|Г§МҶ|Г»М„|ГҝМҒ|ДҢ(М•|МЈ)|ДҚ(М•|МЈ)|ДӘМҒ|Д«МҒ|ЕҪ(МҰ|М§)|Еҫ(МҰ|М§)|бёІМ„|бёіМ„|б№ўМ„|б№ЈМ„|б№¬М„|б№ӯМ„|бә МҲ|бәЎМҲ|б»ҢМҲ|б»ҚМҲ|б»Ө(М„|МҲ)|б»Ҙ(М„|МҲ))*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="datatypeD">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>Datentyp D</nameLang>
               <nameKurz>Datentyp D</nameKurz>
               <nameTechnisch>datatypeD</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:din-spec-91379.datatypeD</kennung>
               <externeWebsite>https://www.din.de/de/wdc-beuth:din21:301228458</externeWebsite>
            </datentyp>
            <versionDatentyp>
               <version>2019-03</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Der Datentyp D wurde vor allem fГјr Namen juristischer Personen und fГјr Produktnamen entworfen.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([ -~]|[ВЎ-В¬]|[В®-Еҫ]|[ЖҮ-ЖҲ]|ЖҸ|Ж’|Ж—|[Ж -ЖЎ]|[ЖҜ-Ж°]|Ж·|[ЗҚ-Зң]|[Зһ-Зҹ]|[Зў-З°]|[Зҙ-Зө]|[Зё-Зҝ]|[И’-И“]|[Иҳ-Иӣ]|[Иһ-Иҹ]|[И§-Иі]|Йҷ|ЙЁ|К’|К°|Кі|[К№-Кә]|[Кҫ-Кҝ]|ЛҶ|ЛҲ|ЛҢ|Лң|Лў|ОҶ|[ОҲ-ОҠ]|ОҢ|[ОҺ-ОЎ]|[ОЈ-ПҺ]|бөҲ|бө—|[бёӮ-бёғ]|[бёҶ-бёҮ]|[бёҠ-бё‘]|[бёң-бё«]|[бёҜ-бё·]|[бёә-бё»]|[б№Җ-б№ү]|[б№’-б№ӣ]|[б№һ-б№Ј]|[б№Ә-б№Ҝ]|[бәҖ-бәҮ]|[бәҢ-бә—]|бәһ|[бә -б»№]|[вҖҳ-вҖҡ]|[вҖң-вҖһ]|[вҖ -вҖЎ]|вҖҰ|вҖ°|[вҖ№-вҖә]|вҒ°|[вҒҙ-вҒ№]|[вҒҝ-вӮү]|вӮ¬|в„ў|вҲһ|[вүӨ-вүҘ]|AМӢ|C(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|DМӮ|F(МҖ|М„)|GМҖ|H(М„|МҰ|Мұ)|J(МҒ|МҢ)|K(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|НҹH|Нҹh)|L(МӮ|МҘ|МҘМ„|МҰ)|M(МҖ|МӮ|МҶ|Мҗ)|N(МӮ|М„|МҶ|МҰ)|P(МҖ|М„|М•|МЈ)|R(МҶ|МҘ|МҘМ„)|S(МҖ|М„|МӣМ„|Мұ)|T(МҖ|М„|МҲ|М•|Мӣ)|UМҮ|Z(МҖ|М„|МҶ|МҲ|М§)|aМӢ|c(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|dМӮ|f(МҖ|М„)|gМҖ|h(М„|МҰ)|jМҒ|k(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|Нҹh)|l(МӮ|МҘ|МҘМ„|МҰ)|m(МҖ|МӮ|МҶ|Мҗ)|n(МӮ|М„|МҶ|МҰ)|p(МҖ|М„|М•|МЈ)|r(МҶ|МҘ|МҘМ„)|s(МҖ|М„|МӣМ„|Мұ)|t(МҖ|М„|М•|Мӣ)|uМҮ|z(МҖ|М„|МҶ|МҲ|М§)|ГҮМҶ|ГӣМ„|Г§МҶ|Г»М„|ГҝМҒ|ДҢ(М•|МЈ)|ДҚ(М•|МЈ)|ДӘМҒ|Д«МҒ|ЕҪ(МҰ|М§)|Еҫ(МҰ|М§)|бёІМ„|бёіМ„|б№ўМ„|б№ЈМ„|б№¬М„|б№ӯМ„|бә МҲ|бәЎМҲ|б»ҢМҲ|б»ҚМҲ|б»Ө(М„|МҲ)|б»Ҙ(М„|МҲ))*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="datatypeE">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>Datentyp E</nameLang>
               <nameKurz>Datentyp E</nameKurz>
               <nameTechnisch>datatypeE</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:din-spec-91379.datatypeE</kennung>
               <externeWebsite>https://www.din.de/de/wdc-beuth:din21:301228458</externeWebsite>
            </datentyp>
            <versionDatentyp>
               <version>2019-03</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Der Datentyp E wurde fГјr alle normativen und erweiterten Schriftzeichen der DIN SPEC entworfen. Ein Einsatzgebiet dieses Datentyps kann der grenzГјberschreitende Datenaustausch sein, wenn auch griechische und kyrillische Buchstaben benГ¶tigt werden. Er ist somit die technische Umsetzung der Schnittstellenvereinbarung Alle nach DIN SPEC 91379 normativen und nicht-normativen Schriftzeichen. Texte mit Buchstaben oder Nicht-Buchstaben, die in der DIN SPEC nicht enthalten sind, wie z. B. asiatische oder arabische Buchstaben, sind unzulГӨssig.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([&#x9;-&#xA;]|&#xD;|[ -~]|[В -В¬]|[В®-Еҫ]|[ЖҮ-ЖҲ]|ЖҸ|Ж’|Ж—|[Ж -ЖЎ]|[ЖҜ-Ж°]|Ж·|[ЗҚ-Зң]|[Зһ-Зҹ]|[Зў-З°]|[Зҙ-Зө]|[Зё-Зҝ]|[И’-И“]|[Иҳ-Иӣ]|[Иһ-Иҹ]|[И§-Иі]|Йҷ|ЙЁ|К’|К°|Кі|[К№-Кә]|[Кҫ-Кҝ]|ЛҶ|ЛҲ|ЛҢ|Лң|Лў|ОҶ|[ОҲ-ОҠ]|ОҢ|[ОҺ-ОЎ]|[ОЈ-ПҺ]|РҚ|[Рҗ-РӘ]|Р¬|[Р®-СҠ]|СҢ|[СҺ-СҸ]|Сқ|бөҲ|бө—|[бёӮ-бёғ]|[бёҶ-бёҮ]|[бёҠ-бё‘]|[бёң-бё«]|[бёҜ-бё·]|[бёә-бё»]|[б№Җ-б№ү]|[б№’-б№ӣ]|[б№һ-б№Ј]|[б№Ә-б№Ҝ]|[бәҖ-бәҮ]|[бәҢ-бә—]|бәһ|[бә -б»№]|[вҖҳ-вҖҡ]|[вҖң-вҖһ]|[вҖ -вҖЎ]|вҖҰ|вҖ°|[вҖ№-вҖә]|вҒ°|[вҒҙ-вҒ№]|[вҒҝ-вӮү]|вӮ¬|в„ў|вҲһ|[вүӨ-вүҘ]|AМӢ|C(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|DМӮ|F(МҖ|М„)|GМҖ|H(М„|МҰ|Мұ)|J(МҒ|МҢ)|K(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|НҹH|Нҹh)|L(МӮ|МҘ|МҘМ„|МҰ)|M(МҖ|МӮ|МҶ|Мҗ)|N(МӮ|М„|МҶ|МҰ)|P(МҖ|М„|М•|МЈ)|R(МҶ|МҘ|МҘМ„)|S(МҖ|М„|МӣМ„|Мұ)|T(МҖ|М„|МҲ|М•|Мӣ)|UМҮ|Z(МҖ|М„|МҶ|МҲ|М§)|aМӢ|c(МҖ|М„|МҶ|МҲ|М•|МЈ|МҰ|МЁМҶ)|dМӮ|f(МҖ|М„)|gМҖ|h(М„|МҰ)|jМҒ|k(МҖ|МӮ|М„|МҮ|М•|Мӣ|МҰ|Нҹh)|l(МӮ|МҘ|МҘМ„|МҰ)|m(МҖ|МӮ|МҶ|Мҗ)|n(МӮ|М„|МҶ|МҰ)|p(МҖ|М„|М•|МЈ)|r(МҶ|МҘ|МҘМ„)|s(МҖ|М„|МӣМ„|Мұ)|t(МҖ|М„|М•|Мӣ)|uМҮ|z(МҖ|М„|МҶ|МҲ|М§)|ГҮМҶ|ГӣМ„|Г§МҶ|Г»М„|ГҝМҒ|ДҢ(М•|МЈ)|ДҚ(М•|МЈ)|ДӘМҒ|Д«МҒ|ЕҪ(МҰ|М§)|Еҫ(МҰ|М§)|бёІМ„|бёіМ„|б№ўМ„|б№ЈМ„|б№¬М„|б№ӯМ„|бә МҲ|бәЎМҲ|б»ҢМҲ|б»ҚМҲ|б»Ө(М„|МҲ)|б»Ҙ(М„|МҲ))*"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
