artifacts/xbau/2.6/wsdl/XBau26-BH2BAB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/6/XBau26-BH2BAB.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
             name="XBau26-BH2BAB"
             targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BH2BAB.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bauaufsichtsbehörde</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen der Online-Bauportale an die Bauaufsichtsbehörden</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBH2BAB</i> zulässig:<ul><ul>
            <li>bauberatung.anfrage.0110</li>
            <li>akteneinsicht.antrag.0120</li>
            <li>akteneinsicht.antragGeaendert.0122</li>
            <li>prozessnachrichten.aktenraum.angelegt.0151</li>
            <li>baugenehmigung.antrag.0200</li>
            <li>baugenehmigung.antragGeaendert.0202</li>
            <li>baugenehmigung.stellungnahme.0204</li>
            <li>vorbescheid.antrag.0210</li>
            <li>vorbescheid.antragGeaendert.0212</li>
            <li>vorbescheid.stellungnahme.0214</li>
            <li>abweichung.antrag.0220</li>
            <li>abweichung.antragGeaendert.0222</li>
            <li>abweichung.stellungnahme.0224</li>
            <li>teilbaugenehmigung.antrag.0230</li>
            <li>teilbaugenehmigung.antragGeaendert.0232</li>
            <li>teilbaugenehmigung.stellungnahme.0234</li>
            <li>grundstuecksteilung.antrag.0240</li>
            <li>grundstuecksteilung.antragGeaendert.0242</li>
            <li>grundstuecksteilung.stellungnahme.0244</li>
            <li>abgeschlossenheit.antrag.0250</li>
            <li>abgeschlossenheit.antragGeaendert.0252</li>
            <li>abgeschlossenheit.stellungnahme.0254</li>
            <li>verlaengerung.antrag.0260</li>
            <li>verlaengerung.antragGeaendert.0262</li>
            <li>verlaengerung.stellungnahme.0264</li>
            <li>angrenzer.stellungnahme.0310</li>
            <li>statistik.datenBauvorhaben.0420</li>
            <li>baulasten.vorlageErklaerung.0700</li>
            <li>baulasten.korrekturErklaerung.0704</li>
            <li>baulastenverzeichnis.anfrage.0710</li>
            <li>baulastenverzeichnis.anfrageGeaendert.0712</li>
            <li>baulastloeschung.antrag.0720</li>
            <li>baulastloeschung.korrekturAntrag.0722</li>
            <li>baulastloeschung.stellungnahme.0724</li>
            <li>ueberwachungspflichtigeAnlagen.pruefbescheinigung.0800</li>
            <li>anzeige.baubeginn.0900</li>
            <li>anzeige.erklaerungGEG.0903</li>
            <li>anzeige.baubeginnAeusserung.0904</li>
            <li>anzeige.nutzungsaufnahme.0910</li>
            <li>anzeige.nutzungsaufnahmeAeusserung.0913</li>
            <li>bauzustand.anzeige.0920</li>
            <li>bauzustand.aeusserung.0923</li>
            <li>anzeige.beseitigungAbsicht.0950</li>
            <li>anzeige.beseitigungGeaendert.0952</li>
         </ul></ul></p><p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die amtlichen Gemeindeschlüssel bzw. Kreiskennungen der Bauaufsichtsbehörden; der zu verwendende Präfix lautet "<b>bab</b>".</p><p>
Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>". 
Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauportal</b>".</p></body></html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/6"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BH2BAB.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-bauordnungsrechtlicheProzessnachrichten.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-abgeschlossenheitsbescheinigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-abweichung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-akteneinsicht.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-angrenzer.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-anzeige.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-bauberatung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baugenehmigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulasten.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulastenverzeichnis.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulastloeschung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-bauzustand.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-grundstuecksteilung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-statistik.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-teilbaugenehmigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-ueberwachungspflichtigeAnlagen.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-verlaengerung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-vorbescheid.xsd"/>
         <xs:complexType name="bh2babSchemata">
            <xs:choice>
               <xs:element name="abgeschlossenheit.antrag.0250"/>
               <xs:element name="abgeschlossenheit.antragGeaendert.0252"/>
               <xs:element name="abgeschlossenheit.stellungnahme.0254"/>
               <xs:element name="abweichung.antrag.0220"/>
               <xs:element name="abweichung.antragGeaendert.0222"/>
               <xs:element name="abweichung.stellungnahme.0224"/>
               <xs:element name="akteneinsicht.antrag.0120"/>
               <xs:element name="akteneinsicht.antragGeaendert.0122"/>
               <xs:element name="angrenzer.stellungnahme.0310"/>
               <xs:element name="anzeige.baubeginn.0900"/>
               <xs:element name="anzeige.baubeginnAeusserung.0904"/>
               <xs:element name="anzeige.beseitigungAbsicht.0950"/>
               <xs:element name="anzeige.beseitigungGeaendert.0952"/>
               <xs:element name="anzeige.erklaerungGEG.0903"/>
               <xs:element name="anzeige.nutzungsaufnahme.0910"/>
               <xs:element name="anzeige.nutzungsaufnahmeAeusserung.0913"/>
               <xs:element name="bauberatung.anfrage.0110"/>
               <xs:element name="baugenehmigung.antrag.0200"/>
               <xs:element name="baugenehmigung.antragGeaendert.0202"/>
               <xs:element name="baugenehmigung.stellungnahme.0204"/>
               <xs:element name="baulasten.korrekturErklaerung.0704"/>
               <xs:element name="baulasten.vorlageErklaerung.0700"/>
               <xs:element name="baulastenverzeichnis.anfrage.0710"/>
               <xs:element name="baulastenverzeichnis.anfrageGeaendert.0712"/>
               <xs:element name="baulastloeschung.antrag.0720"/>
               <xs:element name="baulastloeschung.korrekturAntrag.0722"/>
               <xs:element name="baulastloeschung.stellungnahme.0724"/>
               <xs:element name="bauzustand.aeusserung.0923"/>
               <xs:element name="bauzustand.anzeige.0920"/>
               <xs:element name="grundstuecksteilung.antrag.0240"/>
               <xs:element name="grundstuecksteilung.antragGeaendert.0242"/>
               <xs:element name="grundstuecksteilung.stellungnahme.0244"/>
               <xs:element name="prozessnachrichten.aktenraum.angelegt.0151"/>
               <xs:element name="statistik.datenBauvorhaben.0420"/>
               <xs:element name="teilbaugenehmigung.antrag.0230"/>
               <xs:element name="teilbaugenehmigung.antragGeaendert.0232"/>
               <xs:element name="teilbaugenehmigung.stellungnahme.0234"/>
               <xs:element name="ueberwachungspflichtigeAnlagen.pruefbescheinigung.0800"/>
               <xs:element name="verlaengerung.antrag.0260"/>
               <xs:element name="verlaengerung.antragGeaendert.0262"/>
               <xs:element name="verlaengerung.stellungnahme.0264"/>
               <xs:element name="vorbescheid.antrag.0210"/>
               <xs:element name="vorbescheid.antragGeaendert.0212"/>
               <xs:element name="vorbescheid.stellungnahme.0214"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bh2babNachricht">
      <part name="bh2babNachricht" type="tns:bh2babSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBH2BABInterface">
      <operation name="sendeBH2BAB">
         <input message="tns:bh2babNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBH2BABInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBH2BAB">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bh2babNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBH2BABService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBH2BABInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBH2BABTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
