artifacts/xbau/2.6/wsdl/XBau26-BAB2BH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2BH.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
             name="XBau26-BAB2BH"
             targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2BH.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bauportal</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen der Bauaufsichtsbehörden an die Online-Bauportale</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBAB2BH</i> zulässig:<ul><ul>
            <li>prozessnachrichten.aenderungProjektraumdaten.0100</li>
            <li>bauberatung.auskunft.0111</li>
            <li>akteneinsicht.formellePruefung.0121</li>
            <li>akteneinsicht.ergebnis.0123</li>
            <li>prozessnachrichten.aktenraum.anlegen.0150</li>
            <li>prozessnachrichten.aktenraum.zugriffVerweigern.0152</li>
            <li>baugenehmigung.formellePruefung.0201</li>
            <li>baugenehmigung.anhoerung.0203</li>
            <li>baugenehmigung.bescheid.0205</li>
            <li>vorbescheid.formellePruefung.0211</li>
            <li>vorbescheid.anhoerung.0213</li>
            <li>vorbescheid.bescheid.0215</li>
            <li>abweichung.formellePruefung.0221</li>
            <li>abweichung.anhoerung.0223</li>
            <li>abweichung.bescheid.0225</li>
            <li>teilbaugenehmigung.formellePruefung.0231</li>
            <li>teilbaugenehmigung.anhoerung.0233</li>
            <li>teilbaugenehmigung.bescheid.0235</li>
            <li>grundstuecksteilung.formellePruefung.0241</li>
            <li>grundstuecksteilung.anhoerung.0243</li>
            <li>grundstuecksteilung.bescheid.0245</li>
            <li>abgeschlossenheit.formellePruefung.0251</li>
            <li>abgeschlossenheit.anhoerung.0253</li>
            <li>abgeschlossenheit.bescheid.0255</li>
            <li>verlaengerung.formellePruefung.0261</li>
            <li>verlaengerung.anhoerung.0263</li>
            <li>verlaengerung.bescheid.0265</li>
            <li>baulasten.nachforderung.0701</li>
            <li>baulasten.information.0702</li>
            <li>baulastenverzeichnis.formellePruefung.0711</li>
            <li>baulastenverzeichnis.auskunft.0713</li>
            <li>baulastloeschung.nachforderung.0721</li>
            <li>baulastloeschung.stellungnahmeAufforderung.0723</li>
            <li>baulastloeschung.information.0726</li>
            <li>ueberwachungspflichtigeAnlagen.erinnerung.0801</li>
            <li>anzeige.baubeginnUntersagung.0901</li>
            <li>anzeige.baubeginnBaufreigabe.0902</li>
            <li>anzeige.nutzungsaufnahmeUntersagung.0911</li>
            <li>anzeige.nutzungsaufnahmeBauabnahme.0912</li>
            <li>bauzustand.befundliste.0921</li>
            <li>bauzustand.freigabe.0922</li>
            <li>anzeige.beseitigungUntersagung.0953</li>
            <li>anzeige.beseitigungBestaetigung.0955</li>
         </ul></ul></p><p>
Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die 12-stelligen Schlüssel für die Bauportale; der zu verwendende Präfix lautet "<b>bap</b>".</p><p>
Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauportal</b>". 
Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/6"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2BH.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-bauordnungsrechtlicheProzessnachrichten.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-abgeschlossenheitsbescheinigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-abweichung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-akteneinsicht.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-anzeige.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-bauberatung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baugenehmigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulasten.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulastenverzeichnis.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-baulastloeschung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-bauzustand.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-grundstuecksteilung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-teilbaugenehmigung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-ueberwachungspflichtigeAnlagen.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-verlaengerung.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-vorbescheid.xsd"/>
         <xs:complexType name="bab2bhSchemata">
            <xs:choice>
               <xs:element name="abgeschlossenheit.anhoerung.0253"/>
               <xs:element name="abgeschlossenheit.bescheid.0255"/>
               <xs:element name="abgeschlossenheit.formellePruefung.0251"/>
               <xs:element name="abweichung.anhoerung.0223"/>
               <xs:element name="abweichung.bescheid.0225"/>
               <xs:element name="abweichung.formellePruefung.0221"/>
               <xs:element name="akteneinsicht.ergebnis.0123"/>
               <xs:element name="akteneinsicht.formellePruefung.0121"/>
               <xs:element name="anzeige.baubeginnBaufreigabe.0902"/>
               <xs:element name="anzeige.baubeginnUntersagung.0901"/>
               <xs:element name="anzeige.beseitigungBestaetigung.0955"/>
               <xs:element name="anzeige.beseitigungUntersagung.0953"/>
               <xs:element name="anzeige.nutzungsaufnahmeBauabnahme.0912"/>
               <xs:element name="anzeige.nutzungsaufnahmeUntersagung.0911"/>
               <xs:element name="bauberatung.auskunft.0111"/>
               <xs:element name="baugenehmigung.anhoerung.0203"/>
               <xs:element name="baugenehmigung.bescheid.0205"/>
               <xs:element name="baugenehmigung.formellePruefung.0201"/>
               <xs:element name="baulasten.information.0702"/>
               <xs:element name="baulasten.nachforderung.0701"/>
               <xs:element name="baulastenverzeichnis.auskunft.0713"/>
               <xs:element name="baulastenverzeichnis.formellePruefung.0711"/>
               <xs:element name="baulastloeschung.information.0726"/>
               <xs:element name="baulastloeschung.nachforderung.0721"/>
               <xs:element name="baulastloeschung.stellungnahmeAufforderung.0723"/>
               <xs:element name="bauzustand.befundliste.0921"/>
               <xs:element name="bauzustand.freigabe.0922"/>
               <xs:element name="grundstuecksteilung.anhoerung.0243"/>
               <xs:element name="grundstuecksteilung.bescheid.0245"/>
               <xs:element name="grundstuecksteilung.formellePruefung.0241"/>
               <xs:element name="prozessnachrichten.aenderungProjektraumdaten.0100"/>
               <xs:element name="prozessnachrichten.aktenraum.anlegen.0150"/>
               <xs:element name="prozessnachrichten.aktenraum.zugriffVerweigern.0152"/>
               <xs:element name="teilbaugenehmigung.anhoerung.0233"/>
               <xs:element name="teilbaugenehmigung.bescheid.0235"/>
               <xs:element name="teilbaugenehmigung.formellePruefung.0231"/>
               <xs:element name="ueberwachungspflichtigeAnlagen.erinnerung.0801"/>
               <xs:element name="verlaengerung.anhoerung.0263"/>
               <xs:element name="verlaengerung.bescheid.0265"/>
               <xs:element name="verlaengerung.formellePruefung.0261"/>
               <xs:element name="vorbescheid.anhoerung.0213"/>
               <xs:element name="vorbescheid.bescheid.0215"/>
               <xs:element name="vorbescheid.formellePruefung.0211"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bab2bhNachricht">
      <part name="bab2bhNachricht" type="tns:bab2bhSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBAB2BHInterface">
      <operation name="sendeBAB2BH">
         <input message="tns:bab2bhNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBAB2BHInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBAB2BH">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bab2bhNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBAB2BHService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBAB2BHInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBAB2BHTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
