artifacts/xbau/2.6/wsdl/XBau26-BAB2PING.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2PING.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
             name="XBau26-BAB2PING"
             targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2PING.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Prüfingenieur</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Nachrichten der Bauaufsichtsbehörden an die Prüfingenieure</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBAB2PING</i> zulässig:<ul><ul>
            <li>pruefingenieure.pruefauftrag.0500</li>
            <li>pruefingenieure.pruefauftragKorrektur.0503</li>
            <li>pruefingenieure.angepassteUnterlagen.0505</li>
            <li>pruefingenieure.mitteilungBaubeginnsanzeige.0508</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die 12-stelligen Schlüssel für die Kopfstellen der Prüfingenieure; der zu verwendende Präfix lautet "<b>pin</b>".</p><p>
Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Prüfingenieur</b>". 
Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/6"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2PING.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-pruefingenieure.xsd"/>
         <xs:complexType name="bab2pingSchemata">
            <xs:choice>
               <xs:element name="pruefingenieure.angepassteUnterlagen.0505"/>
               <xs:element name="pruefingenieure.mitteilungBaubeginnsanzeige.0508"/>
               <xs:element name="pruefingenieure.pruefauftrag.0500"/>
               <xs:element name="pruefingenieure.pruefauftragKorrektur.0503"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bab2pingNachricht">
      <part name="bab2pingNachricht" type="tns:bab2pingSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBAB2PINGInterface">
      <operation name="sendeBAB2PING">
         <input message="tns:bab2pingNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBAB2PINGInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBAB2PING">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bab2pingNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBAB2PINGService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBAB2PINGInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBAB2PINGTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
