artifacts/xbau_kern/1.2.1/wsdl/wsdl/XBauk121-anBauportal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/kernmodul/1/2/1/XBauk121-anBauportal.wsdl"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/1"
             name="XBauk121-anBauportal"
             targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/1/XBauk121-anBauportal.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Baupotal</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen allgemeiner Prozessnachrichten an die Online-Bauportale</title></head><body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeAnBauportal</i>zulässig:<ul><ul>
            <li>prozessnachrichten.eingangsbestaetigung.1120</li>
            <li>prozessnachrichten.aktenzeichen.1121</li>
            <li>prozessnachrichten.quittierungRuecknahme.1131</li>
            <li>prozessnachrichten.formellePruefungBefundliste.1140</li>
            <li>prozessnachrichten.zustellungSchreiben.1141</li>
            <li>prozessnachrichten.einstellenDokumente.1150</li>
            <li>prozessnachrichten.gebuehrenbescheid.1160</li>
         </ul></ul></p><p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die 12-stelligen Schlüssel für die Bauportale; der zu verwendende Präfix lautet "<b>bap</b>".</p><p>Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauportal</b>". Zulässige Dienstnutzer sind Organisationen der DVDV-Organisationskategorien "<b>Bauaufsichtsbehörde</b>", "<b>Straßenbaubehörde</b>", "<b>Straßenverkehrsbehörde</b>".</p></body></html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/kernmodul/1/2/1"
                 targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/1/XBauk121-anBauportal.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/1"
                    schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/2/1/xbau-kernmodul-nachrichten.xsd"/>
         <xs:complexType name="anbauportalSchemata">
            <xs:choice>
               <xs:element name="prozessnachrichten.aktenzeichen.1121"/>
               <xs:element name="prozessnachrichten.eingangsbestaetigung.1120"/>
               <xs:element name="prozessnachrichten.einstellenDokumente.1150"/>
               <xs:element name="prozessnachrichten.formellePruefungBefundliste.1140"/>
               <xs:element name="prozessnachrichten.gebuehrenbescheid.1160"/>
               <xs:element name="prozessnachrichten.quittierungRuecknahme.1131"/>
               <xs:element name="prozessnachrichten.zustellungSchreiben.1141"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="anbauportalNachricht">
      <part name="anbauportalNachricht" type="tns:anbauportalSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciAnBauportalInterface">
      <operation name="sendeAnBauportal">
         <input message="tns:anbauportalNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciAnBauportalInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeAnBauportal">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:anbauportalNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="oscianBauportalService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="oscianBauportalInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="oscianBauportalTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
