artifacts/xbau/2.4.0.1/webservices/wsdl/XBau2401-BIE-BAB2STAT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-BIE-BAB2STAT.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/4/0/1"
             name="XBau2401-BIE-BAB2STAT"
             targetNamespace="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-BIE-BAB2STAT.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bundesbehörde</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen der Bauaufsichtsbehörde an die Statistik</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBIE-BAB2STAT</i> zulässig:<ul><ul>
            <li>informationsempfaenger.statistikBaufertigstellung.0410</li>
            <li>informationsempfaenger.statistikBaugenehmigung.0411</li>
            <li>informationsempfaenger.statistikBauabgang.0412</li>
            <li>informationsempfaenger.statistikBauueberhang.0413</li>
            <li>informationsempfaenger.statistikBaubeginn.0414</li>
            <li>informationsempfaenger.statistikErloscheneBaugenehmigung.0415</li>
            <li>informationsempfaenger.statistikUnterDachRohbaufertig.0416</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen ist der Organisationsschlüssel 490030050000 des zentralen Dateneingangs der amtlichen Statistik; der zu verwendende Präfix lautet "<b>dbs</b>".</p>
<p>Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bundesbehörde</b>". Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/4/0/1"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/4/0/1/XBau2401-BIE-BAB2STAT.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/4/0/1"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/4/0/1/xbau-nachrichten-informationsempfaenger.xsd"/>
         <xs:complexType name="bie-bab2statSchemata">
            <xs:choice>
               <xs:element name="informationsempfaenger.statistikBauabgang.0412"/>
               <xs:element name="informationsempfaenger.statistikBaubeginn.0414"/>
               <xs:element name="informationsempfaenger.statistikBaufertigstellung.0410"/>
               <xs:element name="informationsempfaenger.statistikBaugenehmigung.0411"/>
               <xs:element name="informationsempfaenger.statistikBauueberhang.0413"/>
               <xs:element name="informationsempfaenger.statistikErloscheneBaugenehmigung.0415"/>
               <xs:element name="informationsempfaenger.statistikUnterDachRohbaufertig.0416"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bie-bab2statNachricht">
      <part name="bie-bab2statNachricht" type="tns:bie-bab2statSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBIE-BAB2STATInterface">
      <operation name="sendeBIE-BAB2STAT">
         <input message="tns:bie-bab2statNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBIE-BAB2STATInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBIE-BAB2STAT">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bie-bab2statNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBIE-BAB2STATService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBIE-BAB2STATInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBIE-BAB2STATTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
