artifacts/xbau_kern/1.2.2/wsdl/wsdl/XBauk122-anFachbehoerde.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/kernmodul/1/2/2/XBauk122-anFachbehoerde.wsdl"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
             name="XBauk122-anFachbehoerde"
             targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2/XBauk122-anFachbehoerde.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Amtsgericht</tpl:category>
         <tpl:category>Architekten- und Ingenieurkammer</tpl:category>
         <tpl:category>Bauaufsichtsbehörde</tpl:category>
         <tpl:category>Baubeteiligte Stelle</tpl:category>
         <tpl:category>Bundesbehörde</tpl:category>
         <tpl:category>Gemeindebauamt</tpl:category>
         <tpl:category>Prüfingenieur</tpl:category>
         <tpl:category>Straßenbaubehörde</tpl:category>
         <tpl:category>Straßenverkehrsbehörde</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen allgemeiner Prozessnachrichten an die Fachbehörden</title></head>
<body><p> Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeAnFachbehoerde</i> zulässig:
<ul><ul>
            <li>prozessnachrichten.ruecknahme.1130</li>
            <li>universellerAntrag.antrag.1200</li>
            <li>universellerAntrag.angepassterAntrag.1202</li>
            <li>universellerAntrag.stellungnahme.1204</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die Fachbehörden von XBau/XBreitband; die zu verwendende Präfixe lauten 
"<b>dbs</b>",
"<b>bab</b>",
"<b>gba</b>",
"<b>aik</b>",
"<b>bet</b>",
"<b>pin</b>",
"<b>sbb</b>",
"<b>svb</b>".
Zulässige Dienstanbieter sind Organisationen der DVDV-Organisationskategorie 
"<b>Bundesbehörde</b>",
"<b>Bauaufsichtsbehörde</b>",
"<b>Gemeindebauamt</b>",
"<b>Architekten- und Ingenieurkammer</b>",
"<b>Amtsgericht</b>",
"<b>Baubeteiligte Stelle</b>",
"<b>Prüfingenieur</b>",
"<b>Straßenbaubehörde</b>",
"<b>Straßenverkehrsbehörde</b>". 
Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Bauportal</b>".</p></body></html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
                 targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2/XBauk122-anFachbehoerde.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
                    schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/2/2/xbau-kernmodul-prozessnachrichten.xsd"/>
         <xs:import namespace="http://www.xleitstelle.de/xbau/kernmodul/1/2/2"
                    schemaLocation="https://xleitstelle.de/xbau/schema/kernmodul/1/2/2/xbau-kernmodul-universellerAntrag.xsd"/>
         <xs:complexType name="anfachbehoerdeSchemata">
            <xs:choice>
               <xs:element name="prozessnachrichten.ruecknahme.1130"/>
               <xs:element name="universellerAntrag.angepassterAntrag.1202"/>
               <xs:element name="universellerAntrag.antrag.1200"/>
               <xs:element name="universellerAntrag.stellungnahme.1204"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="anfachbehoerdeNachricht">
      <part name="anfachbehoerdeNachricht" type="tns:anfachbehoerdeSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciAnFachbehoerdeInterface">
      <operation name="sendeAnFachbehoerde">
         <input message="tns:anfachbehoerdeNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciAnFachbehoerdeInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeAnFachbehoerde">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:anfachbehoerdeNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="oscianFachbehoerdeService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="oscianFachbehoerdeInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="oscianFachbehoerdeTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
