artifacts/xbau/2.6/wsdl/wsdl/XBau26-PING2BAB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/6/XBau26-PING2BAB.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
             name="XBau26-PING2BAB"
             targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-PING2BAB.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bauaufsichtsbehörde
</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Nachrichten der Prüfingenieure an die Bauaufsichtsbehörden</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendePING2BAB</i> zulässig:<ul><ul>
            <li>pruefingenieure.auftragsbestaetigung.0501</li>
            <li>pruefingenieure.formellePruefung.0502</li>
            <li>pruefingenieure.nachforderungUnterlagen.0504</li>
            <li>pruefingenieure.pruefbericht.0506</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen sind die amtlichen Gemeindeschlüssel bzw. Kreiskennungen der Bauaufsichtsbehörden; der zu verwendende Präfix lautet "<b>bab</b>".</p>
<p>Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bauaufsichtsbehörde</b>"
"<b>Bauportal</b>". 
Zulässige Dienstnutzer sind ausschließlich Organisationen in der DVDV-Organisationskategorie "<b>Prüfingenieur</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/6"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-PING2BAB.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-pruefingenieure.xsd"/>
         <xs:complexType name="ping2babSchemata">
            <xs:choice>
               <xs:element name="pruefingenieure.auftragsbestaetigung.0501"/>
               <xs:element name="pruefingenieure.formellePruefung.0502"/>
               <xs:element name="pruefingenieure.nachforderungUnterlagen.0504"/>
               <xs:element name="pruefingenieure.pruefbericht.0506"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="ping2babNachricht">
      <part name="ping2babNachricht" type="tns:ping2babSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciPING2BABInterface">
      <operation name="sendePING2BAB">
         <input message="tns:ping2babNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciPING2BABInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendePING2BAB">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:ping2babNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciPING2BABService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciPING2BABInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciPING2BABTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
