artifacts/xbau/2.6/webservices/wsdl/XBau26-BAB2STAT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Service -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:osci="http://www.osci.de/2006/07/wsdl/"
             xmlns:tpl="http://www.dvdv.de/dvdv/template/"
             xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
             xmlns:tns="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2STAT.wsdl"
             xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
             xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
             name="XBau26-BAB2STAT"
             targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2STAT.wsdl"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <tpl:categories>
         <tpl:category>Bundesbehörde</tpl:category>
      </tpl:categories><![CDATA[<html><head><title>Datenübermittlungen der Bauaufsichtsbehörde an die Statistik</title></head>
<body><p>Folgende Nachrichten des XBau-Schemas sind als Input der Operation <i>sendeBAB2STAT</i> zulässig:<ul><ul>
            <li>statistik.baugenehmigung.0421</li>
            <li>statistik.erloscheneBaugenehmigung.0422</li>
            <li>statistik.baubeginn.0423</li>
            <li>statistik.fertigstellungRohbau.0424</li>
            <li>statistik.baufertigstellung.0425</li>
            <li>statistik.bauabgang.0426</li>
            <li>statistik.bauueberhang.0427</li>
         </ul></ul></p>
<p>Organisationsschlüssel für <i>find.servicedescription</i>-Anfragen ist der Organisationsschlüssel 490030050000 des zentralen Dateneingangs der amtlichen Statistik; der zu verwendende Präfix lautet "<b>dbs</b>".</p><p>
Zulässige Dienstanbieter sind ausschließlich Organisationen der DVDV-Organisationskategorie "<b>Bundesbehörde</b>". 
Zulässige Dienstnutzer sind Organisationen in der DVDV-Organisationskategorie 
"<b>Bauaufsichtsbehörde</b>",
"<b>Bauportal</b>".</p></body>
</html>]]></documentation>
   <import namespace="http://www.osci.de/2006/07/wsdl/"
           location="http://www.osci.de/wsdl-osci-binding/WSDL-OSCI-Binding_1.2.xsd"/>
   <wsdl:types>
      <xs:schema xmlns="http://www.xleitstelle.de/xbau/2/6"
                 targetNamespace="http://www.xleitstelle.de/xbau/2/6/XBau26-BAB2STAT.wsdl">
         <xs:import namespace="http://www.xleitstelle.de/xbau/2/6"
                    schemaLocation="https://xleitstelle.de/xbau/schema/2/6/xbau-nachrichten-statistik.xsd"/>
         <xs:complexType name="bab2statSchemata">
            <xs:choice>
               <xs:element name="statistik.bauabgang.0426"/>
               <xs:element name="statistik.baubeginn.0423"/>
               <xs:element name="statistik.baufertigstellung.0425"/>
               <xs:element name="statistik.baugenehmigung.0421"/>
               <xs:element name="statistik.bauueberhang.0427"/>
               <xs:element name="statistik.erloscheneBaugenehmigung.0422"/>
               <xs:element name="statistik.fertigstellungRohbau.0424"/>
            </xs:choice>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <message name="bab2statNachricht">
      <part name="bab2statNachricht" type="tns:bab2statSchemata"/>
      <part name="optionaleNachricht" type="xs:anyType"/>
   </message>
   <portType name="osciBAB2STATInterface">
      <operation name="sendeBAB2STAT">
         <input message="tns:bab2statNachricht"/>
      </operation>
   </portType>
   <binding name="osciBinding" type="tns:osciBAB2STATInterface">
      <osci:binding signatureLevel="none" encrypted="true">
         <osci:reader name="Inhaltsdaten-Verschlüsselungszertifikat">
            <tpl:certificate/>
         </osci:reader>
      </osci:binding>
      <!-- Vorbelegung der Richtlinien zur Signatur und Verschlüsselung der Nutzdaten für alle Operationen -->
      <operation name="sendeBAB2STAT">
         <osci:operation communicationType="one-way-active" subject="XBAU_DATA"/>
         <input>
            <osci:container signatureLevel="advanced"
                            encrypted="true"
                            name="XBAU_DATA"
                            required="true">
               <osci:readerRef ref="Inhaltsdaten-Verschlüsselungszertifikat"/>
               <osci:part>
                  <osci:content part="tns:bab2statNachricht"/>
               </osci:part>
            </osci:container>
            <osci:container signatureLevel="none" encrypted="false" required="false">
               <osci:part>
                  <osci:content part="tns:optionaleNachricht"/>
               </osci:part>
            </osci:container>
         </input>
      </operation>
   </binding>
   <service name="osciBAB2STATService"><!-- OSCI Infrastrukturserver -->
      <osci:devices>
         <osci:intermediary uri="" name="InternetIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:intermediary uri="" name="TESTAIntermediär">
            <osci:signatureCertificate>
               <tpl:certificate/>
            </osci:signatureCertificate>
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:intermediary>
         <osci:addressee name="InternetEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
         <osci:addressee name="TESTAEmpfänger">
            <osci:cipherCertificate>
               <tpl:certificate/>
            </osci:cipherCertificate>
         </osci:addressee>
      </osci:devices>
      <!-- Endpunkt im Internet -->
      <port name="osciBAB2STATInternetPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>required</tpl:use> Dieser Port ist nicht optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="InternetIntermediär"/>
            <osci:addresseeRef ref="InternetEmpfänger"/>
         </osci:address>
      </port>
      <!-- Endpunkt im TESTA -->
      <port name="osciBAB2STATTestaPort" binding="tns:osciBinding">
         <documentation>
            <tpl:use>optional</tpl:use> Dieser Port ist optional </documentation>
         <osci:address>
            <osci:intermediaryRef ref="TESTAIntermediär"/>
            <osci:addresseeRef ref="TESTAEmpfänger"/>
         </osci:address>
      </port>
   </service>
</definitions>
