artifacts/xbau/2.6/xsd/xsd_dev/xbau-nachrichten-baulastloeschung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbau="http://www.xleitstelle.de/xbau/2/6"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           targetNamespace="http://www.xleitstelle.de/xbau/2/6"
           version="2.6"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
            <nameKurz>XBau</nameKurz>
            <nameTechnisch>xbau</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
            <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche). </beschreibung>
         </standard>
         <versionStandard>
            <version>2.6</version>
            <beschreibung>Die Nachrichtenkommunikation im Beteiligungsverfahren wurde erweitert und flexibilisiert. Das Baulastverfahren wurde erweitert um eine Vielzahl von Details, u.a. wurden Nachrichtentypen zur Eintragung und zur Löschung von Baulasten definiert. Die Anzeigeprozesse zum Bauzustand wurden weiterentwickelt zu einer stringent geregelten Nachrichtenkommunikation auf Basis der 900er-Nachrichten. Es wurde die Benachrichtigung über einen Bescheidabruf eingeführt, auch ist in XBau jetzt ein Mechanismus für die generische Zustellquittierung enthalten. Es wurden für die Datenübermittlung an die statistischen Ämter XML-Geschäftsregeln zur technischen Überprüfung auf Basis der Technologie ISO-Schematron bereitgestellt. Die Prozesse der Statistikmeldungen wurden auf genehmigungsfreigestellte Verfahren ausgedehnt. Für den Prozess Nachweis Bauvorlageberechtigung können jetzt aus dem Kammerregister abgerufene Daten als solche gekennzeichnet und in ihrer Anwendung in der Antragstellung nachvollzogen werden. Der Prozess zur Abgeschlossenheitsbescheinigung wurde vervollständigt und ausdifferenziert. Die weiteren Details zu Erweiterungen und Änderungen sind in der Versionshistorie des Spezifikationsdokuments beschrieben.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-baukasten.xsd"/>
   <xs:import schemaLocation="xbau-kernmodul-datentypen.xsd"
              namespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"/>
   <xs:element name="baulastloeschung.antrag.0720">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Antrag zur Baulastlöschung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient dazu, der Bauaufsichtsbehörde den Antrag auf Baulastlöschung sowie ergänzende Dokumentationen zuzustellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAntragsservice" type="xbauk:ReferenzAntragsservice">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die Behörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baulast" maxOccurs="unbounded" type="xbau:BaulastLoeschung">
                     <xs:annotation>
                        <xs:documentation>Hier werden die Informationen zur zu löschenden Baulast angegeben. Jede Instanz des Elements steht für eine zu löschende Baulast.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier können Anlagen eingefügt werden, die für die Löschung der Baulast relevant sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.nachforderung.0721">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Nachforderung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält die Befunde der Bauaufsichtsbehörde zum eingereichten Antrag auf Löschung der Baulast.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt und die Nachricht baulastloeschung.antrag.0720 genannt, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundliste" type="xbau:BefundlisteFormell">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Ergebnisse der formellen Prüfung enthalten. Die Liste nennt die Mängel, die bei der Prüfung der Baulast-Löschung aufgefallen sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier können Anlagen eingefügt werden, die für die Nachforderung der Löschung der Baulast relevant sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.korrekturAntrag.0722">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Korrektur zum Antrag Baulastlöschung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält eine Korrektur zum Antrag der Baulastlöschung. Sie bezieht sich also auf einen bereits gestellten Antrag und ist eine Reaktion auf eine zum Antrag vorliegenden Mängelliste der Behörde.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt und die Nachricht baulastloeschung.antrag.0720 genannt, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baulast"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbau:BaulastLoeschung">
                     <xs:annotation>
                        <xs:documentation>Hier werden die Informationen zur zu löschenden Baulast angegeben. Jede Instanz des Elements steht für eine zu löschende Baulast.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier können Anlagen eingefügt werden, die für die Löschung der Baulast relevant sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.stellungnahmeAufforderung.0723">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Aufforderung zur Stellungnahme</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält die Aufforderung zur Stellungnahme der Baulastlöschung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt. Falls der Vorgang der Baulastlöschung durch einen Antrag ausgelöst wurde, wird auch die Nachricht baulastloeschung.antrag.0720 genannt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufforderungStellungnahme" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element wird die Aufforderung zur Stellungnahme eingetragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist eingetragen werden, innerhalb derer die Stellungnahme einzureichen ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier können im Bedarfsfall Anlagen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.stellungnahme.0724">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Stellungnahme</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält die Stellungnahme zur Baulastlöschung.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt. Falls der Vorgang der Baulastlöschung durch einen Antrag ausgelöst wurde, wird auch die Nachricht baulastloeschung.antrag.0720 genannt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="stellungnahme" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element wird die Stellungnahme eingetragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier können im Bedarfsfall Anlagen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.loeschungEintrag.0725">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Löschung des Baulasteintrags</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient dazu, eine Löschung einer Baulast im Baulastenverzeichnis anzustoßen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt. Falls der Vorgang der Baulastlöschung durch einen Antrag ausgelöst wurde, wird auch die Nachricht baulastloeschung.antrag.0720 genannt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="baulast" maxOccurs="unbounded" type="xbau:BaulastLoeschung">
                     <xs:annotation>
                        <xs:documentation>Hier werden Angaben zur zu löschenden Baulast gemacht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="baulastloeschung.information.0726">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage>§ 83 (3) MBO</rechtsgrundlage>
            <title>Information</title>
         </xs:appinfo>
         <xs:documentation>Die Akteure, die die Baulastlöschung vorgelegt haben, werden durch diese Nachricht über das Ergebnis der Prüfung informiert.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbau:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der laufende Vorgang der Bearbeitung der Baulastlöschung genannt. Falls der Vorgang der Baulastlöschung durch einen Antrag ausgelöst wurde, wird auch die Nachricht baulastloeschung.antrag.0720 genannt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sachverhalt">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Ergebnisse der Prüfung der Baulastlöschung.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="baulastloeschungAkzeptiert" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Falls die Baulastlöschung akzeptiert und die Baulast gelöscht wurde, ist hier 'true' zu übermitteln, anderenfalls 'false'.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="begruendung" minOccurs="0" type="xbauk:Text">
                              <xs:annotation>
                                 <xs:documentation>Falls die Baulastlöschung durch die Behörde nicht akzeptiert und die Baulast nicht gelöscht wurde, wird in diesem Element die Begründung für diese Entscheidung geliefert.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier ist im Erfolgsfall die Dokumentation der vorgenommenen Löschung des Eintrags im Baulastenverzeichnis enthalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
