artifacts/xbau/2.6/xsd/xsd_dev/xbau-kernmodul-universellerAntrag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           xmlns:bn-g2g="http://xoev.de/schemata/basisnachricht/g2g/1_1"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           version="1.3.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau-Kernmodul</nameLang>
            <nameKurz>XBau-Kernmodul</nameKurz>
            <nameTechnisch>xbau-kernmodul</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau-kernmodul</kennung>
            <beschreibung>Das XBau-Kernmodul umfasst die von den XBau-Fachmodulen gemeinsam verwendeten Daten- und Nachrichtentypen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.3.0</version>
            <beschreibung>Die Prozessstringenz der Prozesse der XBau-Nachrichtenkommunikation wurde vervollständigt. Es kann jetzt über den Abruf eines Bescheids informiert werden. Eine generische Quittungsnachricht für fristauslösende Nachrichtenzustellungen wurde neu aufgenommen. Für den generischen Antragsprozess wurde die Zuordnung von Anträgen verbessert durch Aufnahme einer Auswahlliste für die abgedeckten Antragsarten. Weitere Details zu Änderungen sind in der Versionshistorie des Spezifikationsdokuments enthalten.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-kernmodul-basisdatentypen.xsd"/>
   <xs:include schemaLocation="xbau-kernmodul-codes.xsd"/>
   <xs:include schemaLocation="xbau-kernmodul-datentypen.xsd"/>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:import schemaLocation="latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="xoev-basisnachricht-g2g_1.1.xsd"
              namespace="http://xoev.de/schemata/basisnachricht/g2g/1_1"/>
   <xs:element name="universellerAntrag.antrag.1200">
      <xs:annotation>
         <xs:appinfo>
            <title>Antrag zu einem Vorgang</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht stellt einen Antrag dar, d.h. durch das Senden dieser Nachricht an die zuständigen Behörden beantragt der Absender die Genehmigung zu dem in der Nachricht dokumentierten Vorhaben. Die Nachricht enthält die Daten des Antrags und als Anlage die dazugehörigen Vorlagen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="referenzAntragsservice" type="xbauk:ReferenzAntragsservice">
                     <xs:annotation>
                        <xs:documentation>Eine vom Antragsservice vergebene eindeutige Kennung des Antragsvorgangs. Sofern die zuständige Behörde auf die Antragstellung reagiert, bezieht sie sich in ihren Reaktionsnachrichten auf diese Kennung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="artDesAntrags" type="xbauk:Code.ArtDesAntrags">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird die Art des Antrags angegeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bezug" minOccurs="0" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Sofern anwendbar, kann hier ein Bezug zu einem anderen Vorgang angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antragsteller" maxOccurs="unbounded" type="xbauk:Akteur">
                     <xs:annotation>
                        <xs:documentation>In dieses Element sind die Daten des Antragstellers bzw. der Antragsteller einzutragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grundstueck" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>In diesem Element sind Daten enthalten, die das Baugrundstück (ein Grundstück, auf dem das Vorhaben stattfinden soll bzw. auf dem es durchgeführt wurde) identifizieren. Ein Baugrundstück kann mehrere Grundstücke umfassen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="anschriftGrundstueck"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbauk:Anschrift">
                              <xs:annotation>
                                 <xs:documentation>In diesem Element wird die Anschrift des Grundstücks eingetragen. Falls dem Grundstück von der Kommune keine Anschrift zugewiesen ist, wird dieses Element nicht instanziiert.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="flurstueck"
                                       maxOccurs="unbounded"
                                       type="xbauk:Flurstueckskennzeichen">
                              <xs:annotation>
                                 <xs:documentation>Pro Instanziierung des Elements sind Angaben zu einem Flurstück vorzunehmen, das zum Grundstück gehört.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="lageVorhaben"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbauk:GeoreferenzierteFlaeche">
                              <xs:annotation>
                                 <xs:documentation>In diesem Element können ergänzend georeferenzierte Informationen zur genaueren Lage des Vorhabens bzw. Gebäudes auf dem Grundstück abgebildet werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Die für die Planung des Vorhabens notwendigen Vorlagen sind dem Antrag als Anlage bzw. Verweise auf diese Anlagen beizufügen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="universellerAntrag.angepassterAntrag.1202">
      <xs:annotation>
         <xs:appinfo>
            <title>Angepasster Antrag</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht enthält geänderte oder ergänzte Daten des Antrags bzw. geänderte oder ergänzte Vorlagen. Sie bezieht sich auf einen bereits gestellten Antrag, zu dem noch kein Bescheid erteilt wurde. Entweder ist sie eine Reaktion auf eine zum Antrag vorliegende Mängelliste der zuständigen Behörde, oder der Antragsteller reicht aus anderen Gründen eine modifizierte Planung im laufenden Verfahren nach.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Antrag Bezug zu nehmen; außerdem ggf. auf die Nachrichten prozessnachrichten.formellePruefungBefundliste.1140 oder prozessnachrichten.fachlicheKommunikation.1142, wenn diese den Vorgang ausgelöst haben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" maxOccurs="unbounded" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten. Nachgereichte Anlagen: Aus der Beschreibung bzw. Bezeichnung der Anlage muss (wie immer) der Charakter der nachgereichten Unterlage hervorgehen. Ein gesonderter Bezug auf den Befund der Befundliste (z.B. Befund-Nr.), der ggf. zur Übermittlung dieser Unterlage führte, ist nicht erforderlich. Geänderte Anlagen: In diesem Fall wird eine neue Version (jüngeres Erstellungsdatum) einer bereits vorher gelieferten Anlagen übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="universellerAntrag.materiellePruefungBefundliste.1203">
      <xs:annotation>
         <xs:appinfo>
            <title>Hinweis auf Anhörung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht fordert den Antragsteller zur Stellungnahme auf, nachdem die materielle Prüfung des Antrags ergeben hat, dass Gründe vorliegen, die zu seiner Ablehnung durch die zuständige Behörde führen können. Es sind die Befunde enthalten, die das Ergebnis der materiellen Prüfung sind. Diese werden hier aufgelistet bzw. im Anhang der Nachricht dokumentiert mit dem Hinweis, dass Gelegenheit zu Stellungnahme bzw. Nachbesserung besteht.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Antrag Bezug zu nehmen; außerdem ggf. auf die Nachricht universellerAntrag.antrag.1200, die den Vorgang ausgelöst hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufforderungZurStellungnahme" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Aufforderung zu Stellungnahme in Form eines Anschreibens formuliert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bescheidlage" minOccurs="0" type="xbauk:BefundlisteMateriell">
                     <xs:annotation>
                        <xs:documentation>Hier können die Gründe, die nach aktueller Lage zur Ablehnung des Antrags durch die zuständige Behörde führen können, in Form einer strukturierten Liste angegeben werden. Es handelt sich um eine Liste von Abweichungen von den öffentlich-rechtlichen Vorschriften, die sich aus der laufenden Prüfung des Antrags ergeben hat. Zu jedem Eintrag der Liste fordert die Nachricht zu einer Stellungnahme bzw. Nachbesserung auf.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine durch die Behörde gesetzte Frist angegeben werden, innerhalb derer eine Stellungnahme des Antragstellers vorliegen muss, damit sie berücksichtigt werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angebotFuerAntwortLeser"
                              minOccurs="0"
                              type="xbauk:Verlinkung">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um Webressourcen für ggf. nötige Reaktionen des Lesers auf die vorliegende Nachricht anzugeben .</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Für die Aufforderung zur Stellungnahme ggf. notwendige Anhänge können hier der Nachricht als Anlage beigefügt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="universellerAntrag.stellungnahme.1204">
      <xs:annotation>
         <xs:appinfo>
            <title>Stellungnahme oder Nachbesserung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf einen bereits gestellten Antrag und auf eine zu diesem vorliegende Anhörungsnachricht. Sie enthält Stellungnahmen zu den Eigenschaften des Vorhabens bzw. des Antrags, die von der zuständigen Behörden beanstandet wurden. Sie enthält ggf. außerdem den nachgebesserten Antrag bzw. nachgebesserte Vorlagen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Bauantrag Bezug zu nehmen und außerdem auf die Nachricht universellerAntrag.materiellePruefungBefundliste.1203, auf deren Inhalt sich die vorliegende Nachricht bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="stellungnahmeBelastenderVerwaltungsakt" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Hier ist die Reaktion auf die in der Anhörungsnachricht enthaltenen Punkte einzutragen. Dies kann eine Verteidigung der ursprünglichen Konzeption sein, dies kann aber auch eine geänderte Antragsunterlage sein, welche in diesem Fall in den Anlagen dokumentiert ist.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="bezeichnungRegelverstoss" type="din91379:datatypeC">
                              <xs:annotation>
                                 <xs:documentation>Hier ist die Bezeichnung des betreffenden Regelverstoßes genannt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="stellungnahme" type="xbauk:TextFormatiert">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält die Stellungnahme des Antragstellers. Sie nimmt auf die Beanstandung Bezug.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten, passend zur weiter oben gegebenen Stellungnahme bzw. Erläuterung der Anpassung. Geänderte oder ergänzte Daten werden als Brutto-Datensatz geschickt. Es werden mit diesem Element also die bereinigten und ggf. ergänzten Daten vollständig gesendet, so dass der Empfänger einen 'Datensatz nach Änderung' erhält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="universellerAntrag.bescheid.1205">
      <xs:annotation>
         <xs:appinfo>
            <title>Bescheid</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht stellt den Bescheid dar, in den die zuständige Behörde die Ergebnisse ihrer materiellen Prüfung einträgt. Der Antrag ist entweder genehmigt, genehmigt mit Nebenbestimmungen (zum Beispiel unter Auflagen) oder abgelehnt. Das Absenden dieser Nachricht stellt das Erteilen des Bescheids dar.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Objekt enthält die Eintragungen, die auf den Vorgang bzw. die Nachricht universellerAntrag.antrag.1200 mit dem Antrag Bezug nehmen, zu dem die vorliegende Nachricht den Bescheid enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bescheid" type="xbauk:Bescheid">
                     <xs:annotation>
                        <xs:documentation>In diesem Objekt sind die verschiedenen Komponenten des Bescheides enthalten. Ein Bescheid mit positivem Tenor kann zugelassene oder auch nicht zugelassene Abweichungen (Element abweichung) enthalten. Ein Bescheid mit negativem Tenor kann nur nicht zugelassene Abweichungen enthalten. Die Abweichungen sind in den Hinweisen anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Hier sind die Anlagen zum Bescheid bzw. Verweise auf diese Anlagen enthalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
