artifacts/xbau/2.6/xsd/xsd_dev/xbau-kernmodul-codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           version="1.3.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau-Kernmodul</nameLang>
            <nameKurz>XBau-Kernmodul</nameKurz>
            <nameTechnisch>xbau-kernmodul</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau-kernmodul</kennung>
            <beschreibung>Das XBau-Kernmodul umfasst die von den XBau-Fachmodulen gemeinsam verwendeten Daten- und Nachrichtentypen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.3.0</version>
            <beschreibung>Die Prozessstringenz der Prozesse der XBau-Nachrichtenkommunikation wurde vervollständigt. Es kann jetzt über den Abruf eines Bescheids informiert werden. Eine generische Quittungsnachricht für fristauslösende Nachrichtenzustellungen wurde neu aufgenommen. Für den generischen Antragsprozess wurde die Zuordnung von Anträgen verbessert durch Aufnahme einer Auswahlliste für die abgedeckten Antragsarten. Weitere Details zu Änderungen sind in der Versionshistorie des Spezifikationsdokuments enthalten.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.Ablageort">
      <xs:annotation>
         <xs:documentation>Diese Codeliste enthält Ablageorte des Projektraums, an dem ein Dokument abgelegt werden soll. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.AmtlicherGemeindeschluessel">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Gemeinden, dargestellt durch den Amtlichen Gemeindeschlüssel (AGS) des Statistischen Bundesamtes</nameLang>
               <nameKurz>AGS</nameKurz>
               <nameTechnisch>ags</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:ags</kennung>
               <beschreibung>Diese Codeliste stellt alle Gemeinden Deutschlands durch den Amtlichen Gemeindeschlüssel (AGS) dar, wie im Gemeindeverzeichnis des Statistischen Bundesamtes enthalten. Darüber hinaus enthält die Codeliste für die Stadtstaaten Hamburg, Bremen und Berlin Einträge für Stadt-/Ortsteile bzw. Stadtbezirke. Diese Einträge sind mit einem entsprechenden Hinweis versehen.</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste stellt alle Gemeinden Deutschlands durch den Amtlichen Gemeindeschlüssel (AGS) dar, wie im Gemeindeverzeichnis des Statistischen Bundesamtes enthalten. Die Codeliste ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:ags auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:ags"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.AmtlicherRegionalschluessel">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Gemeinden, dargestellt durch den Amtlichen Regionalschlüssel (ARS) des Statistischen Bundesamtes</nameLang>
               <nameKurz>Regionalschlüssel</nameKurz>
               <nameTechnisch>rs</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:rs</kennung>
               <beschreibung>Diese Codeliste stellt alle Gemeinden Deutschlands durch den Amtlichen Regionalschlüssel (ARS) dar, wie im Gemeindeverzeichnis des Statistischen Bundesamtes enthalten. Darüber hinaus enthält die Codeliste für die Stadtstaaten Hamburg, Bremen und Berlin Einträge für Stadt-/Ortsteile bzw. Stadtbezirke. Diese Einträge sind mit einem entsprechenden Hinweis versehen.</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste stellt alle Gemeinden Deutschlands durch den Amtlichen Regionalschlüssel (ARS) dar, wie im Gemeindeverzeichnis des Statistischen Bundesamtes enthalten. Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:rs auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:rs"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.AnlageArt">
      <xs:annotation>
         <xs:documentation>Dieser Code-Datentyp dient der Einbindung einer Codeliste, die Arten von Bauvorlagen oder sonstigen Anlagen unterscheidet, die einer XBau-Nachricht als Anlage beigefügt sein können. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Als Muster wurde die Codeliste XBau Anlage Art definiert und als Angebot zur Einbindung für diesen Typ bereitgestellt. Diese Codeliste kann auf Antrag erweitert bzw. geändert werden. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:anlagen auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ArtDesAntrags">
      <xs:annotation>
         <xs:documentation>Dieser Code-Datentyp dient der Einbindung einer Codeliste, die Arten von Anträgen enthält, die mittels des generischen Antrags gestellt werden können. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Als Muster wurde die Codeliste XBau Art des Antrags definiert und als Angebot zur Einbindung für diesen Typ bereitgestellt. Diese Codeliste kann auf Antrag erweitert bzw. geändert werden. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:artdesantrags auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Bezirk">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Bezirke bzw. Regierungsbezirke der deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes</nameLang>
               <nameKurz>Bezirk</nameKurz>
               <nameTechnisch>Bezirk</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bezirk</kennung>
               <beschreibung>Die Bundesrepublik Deutschland ist ein Zusammenschluss von Bundesländern. Die meisten Bundesländer umfassen mehrere Kreise und Bezirke bzw. Regierungsbezirke. Diese Codeliste stellt alle Bezirke nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS).</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste stellt alle Bezirke nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS). Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bezirk auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bezirk"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Bundesland">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Die deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes</nameLang>
               <nameKurz>Bundesland</nameKurz>
               <nameTechnisch>bundesland</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bundesland</kennung>
               <beschreibung>Die Bundesrepublik Deutschland ist ein Zusammenschluss von Bundesländern. Die meisten Bundesländer umfassen mehrere Kreise und Bezirke. Diese Codeliste stellt die deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS).</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste stellt die deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS). Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bundesland auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:bundesland"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Erreichbarkeit">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Kommunikationskanal / Erreichbarkeit</nameLang>
               <nameKurz>Erreichbarkeit</nameKurz>
               <nameTechnisch>erreichbarkeit</nameTechnisch>
               <kennung>urn:de:xoev:codeliste:erreichbarkeit</kennung>
               <beschreibung>Eine Liste der Kommunikationsmedien und -kanäle, über die man eine Person oder Institution erreichen kann.</beschreibung>
               <herausgebernameLang>Koordinierungsstelle für IT-Standards</herausgebernameLang>
               <herausgebernameKurz>KoSIT</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die von der XÖV-Koordination bereitgestellte Codeliste beschreibt die gängigen Kanäle der Kommunikation wie z. B. Telefon und E-Mail, über die eine natürliche Person erreichbar sein kann. Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:xoev:codeliste:erreichbarkeit auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:xoev:codeliste:erreichbarkeit"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.FormelleBefundeArt">
      <xs:annotation>
         <xs:documentation>Arten von Befunden einer universell einsetzbaren Befundliste für die formelle Prüfung von Anträgen, Anzeigen und Erklärungen. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Als Muster wurde die Codeliste XBau Befunde der formellen Prüfung definiert und als Angebot zur Einbindung für diesen Typ bereitgestellt. Diese Codeliste kann auf Antrag erweitert bzw. geändert werden. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoevde:xbau:codeliste:formellebefundeart auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Gemeindeteil">
      <xs:annotation>
         <xs:documentation>Diese Codeliste steht für lokal definierte Schlüssel, die die Gemeindeteile einer Gemeinde bezeichnen. Dieser Schlüssel ist, weil nur innerhalb eines Landes definiert, nicht Bestandteil des Amtlichen Gemeindeschlüssels (AGS). In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Kreis">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Die Kreise der deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes</nameLang>
               <nameKurz>Kreis</nameKurz>
               <nameTechnisch>Kreis</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:kreis</kennung>
               <beschreibung>Die Bundesrepublik Deutschland ist ein Zusammenschluss von Bundesländern. Die meisten Bundesländer umfassen mehrere Kreise und Bezirke. Diese Codeliste stellt die Kreise der deutschen Bundesländer nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS).</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>Destatis</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste stellt die Landkreise nach dem Gemeindeverzeichnis des Statistischen Bundesamtes dar. Dieser Code ist auch Bestandteil des Amtlichen Gemeindeschlüssels (AGS). Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:kreis auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:kreis"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Rechtsbereich">
      <xs:annotation>
         <xs:documentation>Dieser Code-Typ steht für eine Klassifikation von Rechtsbereichen, denen Zuständigkeiten, Normen, Fragestellungen und Bescheide zugeordnet werden können. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Als Muster wurde die sachgebietliche Gliederung des "Fundstellennachweis A des Bundes" als XÖVkonforme Codeliste "Klassifikation von Rechtsbereichen gemäß Fundstellennachweis A des Bundes" dargestellt und als Angebot zur Einbindung für diesen Typ bereitgestellt. Es wird aber vermutet, dass im Anwendungskontext oft landesrechtliche und lokale Regelungen referenziert werden müssen und daher - nach dem Vorbild des Musters - angepasste Codelisten eingesetzt werden müssen. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:bund:bmj:codeliste:fundstellennachweis.bund.a auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Registergericht">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Registergerichte</nameLang>
               <nameKurz>Registergerichte</nameKurz>
               <nameTechnisch>registergerichte</nameTechnisch>
               <kennung>urn:xoev-de:xgewerbeanzeige:codeliste:registergerichte</kennung>
               <beschreibung>Enthält alle Registergerichte. Als Schlüssel für die Datenübermittlung ist die Spalte XJustiz_Id zu verwenden.</beschreibung>
               <herausgebernameLang>Betreiber XGewerbeanzeige (KoSIT und IT.NRW im Auftrag des Bundesministeriums für Wirtschaft und Energie)</herausgebernameLang>
               <herausgebernameKurz>XGewerbeanzeige</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die von der XÖV-Koordination bereitgestellte Codeliste enthält alle Registergerichte Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:xoev-de:xgewerbeanzeige:codeliste:registergerichte auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xgewerbeanzeige:codeliste:registergerichte"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.Staat">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Codeliste Staatsgebiete aus der Staats- und Gebietssystematik des Statistischen Bundesamtes</nameLang>
               <nameKurz>Destatis Staatsgebiete</nameKurz>
               <nameTechnisch>staatsgebiete</nameTechnisch>
               <kennung>urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:staatsgebiete</kennung>
               <beschreibung>Die Codeliste Staatsgebiete ist eine Tabelle von derzeitigen Staatsgebieten und deren unselbständiger Teile, d.h. von Staaten und deren Gebiete bzw. Gebietsteile sowie von exterritorialen Teilen von Staaten. Die Codeliste umfasst mehrere Schlüssel, wovon "DESTATIS Schlüssel Gebiet" genutzt werden sollte, da nur dieser eindeutig ist. Die Codeliste ist im XRepository unter Nennung ihrer Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:staatsgebiete auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</beschreibung>
               <herausgebernameLang>Statistisches Bundesamt, Wiesbaden</herausgebernameLang>
               <herausgebernameKurz>DESTATIS</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Codeliste Staatsgebiete aus der Staats- und Gebietssystematik des Statistischen Bundesamtes.Sie basiert auf dem Verzeichnis der Staatennamen für den amtlichen Gebrauch des Auswärtigen Amtes. Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:staatsgebiete auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden. Die Codeliste umfasst mehrere Schlüssel, wovon "DESTATIS Schlüssel Gebiet" genutzt werden sollte, da nur dieser wirklich eindeutig ist.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:de:bund:destatis:bevoelkerungsstatistik:schluessel:staatsgebiete"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.TextOfficeMimeType">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Office Mime Types für die XML-basierte Darstellung von Office Text in XBau-Nachrichten</nameLang>
               <nameKurz>Office Mime Types</nameKurz>
               <nameTechnisch>textofficemimetypes</nameTechnisch>
               <kennung>urn:xoev-de:xbau:codeliste:textofficemimetypes</kennung>
               <beschreibung>Diese Codeliste detailliert den Office MimeType von in XBau-Nachrichten als ODF oder OOXML dargestelltem Office Text.</beschreibung>
               <herausgebernameLang>Bauministerkonferenz</herausgebernameLang>
               <herausgebernameKurz>BMK</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Dieser Code-Typ steht für die Detaillierung des Office MimeTypes von in XBau-Nachrichten als ODF oder OOXML dargestelltem Office Text. Die Codeliste ist im XRepository (www.xrepository.de) unter Nennung der Codelisten-URI urn:xoev-de:xbau:codeliste:textofficemimetypes auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xbau:codeliste:textofficemimetypes"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.XBau-KernmodulNachrichten">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>XBau-Kernmodul-Nachrichten</nameLang>
               <nameKurz>XBau-Kernmodul-Nachrichten</nameKurz>
               <nameTechnisch>xbau-kernmodul-nachrichten</nameTechnisch>
               <kennung>urn:xoev-de:xbau-kernmodul:codeliste:xbau-kernmodul-nachrichten</kennung>
               <beschreibung>Codeliste der Bezeichnungen aller XBau-Kernmodul-Nachrichten.</beschreibung>
               <herausgebernameLang>Bauministerkonferenz</herausgebernameLang>
               <herausgebernameKurz>BMK</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>3.0</version>
               <versionCodelistenHandbuch>1.2</versionCodelistenHandbuch>
               <aenderungZurVorversion>In XBau-Kernmodul 1.3.0: Neue Einträge 1180, 1181.</aenderungZurVorversion>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Code</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <beschreibung>
                  <spaltennameLang>Beschreibung</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </beschreibung>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="1100">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.rueckweisung.G2G.1100</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1120">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.eingangsbestaetigung.1120</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1121">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.aktenzeichen.1121</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1130">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.ruecknahme.1130</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1131">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.quittierungRuecknahme.1131</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1140">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.formellePruefungBefundliste.1140</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1141">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.zustellungSchreiben.1141</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1142">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.fachlicheKommunikation.1142</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1150">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.einstellenDokumente.1150</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1160">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.gebuehrenbescheid.1160</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1170">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.statusFuerAntragsportal.1170</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1180">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.generischeQuittierungEingang.1180</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1181">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>prozessnachrichten.generischeRueckmeldungAbruf.1181</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1200">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>universellerAntrag.antrag.1200</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1202">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>universellerAntrag.angepassterAntrag.1202</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1203">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>universellerAntrag.materiellePruefungBefundliste.1203</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1204">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>universellerAntrag.stellungnahme.1204</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1205">
                           <xs:annotation>
                              <xs:appinfo>
                                 <beschreibung>universellerAntrag.bescheid.1205</beschreibung>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xbau-kernmodul:codeliste:xbau-kernmodul-nachrichten"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="3.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.XBau-MimeType">
      <xs:annotation>
         <xs:documentation>Dieser Code-Typ steht für eine Benennung des MimeTypes einer über XBau bereitgestellten Ressource. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine dafür passende Auflistung bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Als Muster wurde die Codeliste "XBau MIME-Types" definiert und als Angebot zur Einbindung für diesen Typ bereitgestellt. Diese Codeliste kann auf Antrag erweitert bzw. geändert werden. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:xbau-mimetypes auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.XBau-QuittierteNachricht">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Nachricht Eingangsquittierung</nameLang>
               <nameKurz>Nachricht Eingangsquittierung</nameKurz>
               <nameTechnisch>nachricht-eingangsquittierung</nameTechnisch>
               <kennung>urn:xoev-de:xbau:codeliste:nachricht-eingangsquittierung</kennung>
               <beschreibung>Die Codeliste enthält Nachrichtentypen aus XBau-Hochbau und XBau-Kernmodul, bei denen der Nachrichteneingang zu quittieren ist.</beschreibung>
               <herausgebernameLang>Bauministerkonferenz</herausgebernameLang>
               <herausgebernameKurz>BMK</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Dieser Code-Datentyp steht für eine Liste von Nachrichtentypen, deren Nachrichteneingang mittels der generischen Quittungsnachricht zu quittieren ist bzw. quittiert werden kann. Die Codeliste ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:nachricht-eingangsquittierung auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xbau:codeliste:nachricht-eingangsquittierung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.XBau-StatusAntragsportal">
      <xs:annotation>
         <xs:documentation>Über diese Codeliste kann ein XBau-Fachmodul die für die eigene Fachlichkeit passende Codeliste für die Statussteuerung einbinden. In diesen Typ ist eine auszuwählende bzw. selbst zu definierende Codeliste einzubinden, die eine solche Klassifikation bietet. Im Anwendungskontext sind in die Attribute des vorliegenden Typs die Codelisten-URI und die Nummer der Version der ausgewählten Codeliste (in die XBau-Nachrichteninstanzen) einzutragen. Für Anwendungen im Rahmen des XBau-Fachmoduls Hochbau wurde dafür eine passende Codeliste "XBau Status Bauportal" definiert und als Vorgabe zur Einbindung für diesen Typ bereitgestellt. Diese Codeliste kann auf Antrag erweitert bzw. geändert werden. Sie ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:statusbauportal auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI" type="xs:anyURI" use="required"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.XBau.Fehlerkennzahl">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>XBau Fehlerkennzahlen</nameLang>
               <nameKurz>XBau Fehlerkennzahlen</nameKurz>
               <nameTechnisch>xbau-fehlerkennzahlen</nameTechnisch>
               <kennung>urn:xoev-de:xbau:codeliste:xbau-fehlerkennzahlen</kennung>
               <beschreibung>Codeliste der Fehlerkennzahlen für die Klassifikation von Fehlern, die in XBau-Nachrichteninstanzen angetroffen werden. Die Einträge bestehen aus Fehlerkennzahl und der Angabe deren Bedeutung. Gruppen von Codes: X - formales Problem mit XML oder mit (Inhalten von) Codelisten, V - Versionsproblem, S - nicht spezifikationskonform, A - Problem mit Anlagen zur empfangenen Nachricht.</beschreibung>
               <herausgebernameLang>Bauministerkonferenz</herausgebernameLang>
               <herausgebernameKurz>BMK</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Codeliste der Fehlerkennzahlen für die Klassifizierung von Fehlern. Die Einträge bestehen aus Fehlerkennzahl und deren Bedeutung. Die Liste wird durch XBau gepflegt. Die Codeliste ist im XRepository (www.xrepository.de) unter der Codelisten-URI urn:xoev-de:xbau:codeliste:xbau-fehlerkennzahlen auffindbar und kann von dort im XML-Format OASIS Genericode abgerufen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xbau:codeliste:xbau-fehlerkennzahlen"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
