artifacts/xbau/2.6/xsd/xsd_dev/xbau-kernmodul-prozessnachrichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbauk="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           xmlns:bn-g2g="http://xoev.de/schemata/basisnachricht/g2g/1_1"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.xleitstelle.de/xbau/kernmodul/1/3/0"
           version="1.3.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBau-Kernmodul</nameLang>
            <nameKurz>XBau-Kernmodul</nameKurz>
            <nameTechnisch>xbau-kernmodul</nameTechnisch>
            <kennung>urn:xoev-de:bmk:standard:xbau-kernmodul</kennung>
            <beschreibung>Das XBau-Kernmodul umfasst die von den XBau-Fachmodulen gemeinsam verwendeten Daten- und Nachrichtentypen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.3.0</version>
            <beschreibung>Die Prozessstringenz der Prozesse der XBau-Nachrichtenkommunikation wurde vervollständigt. Es kann jetzt über den Abruf eines Bescheids informiert werden. Eine generische Quittungsnachricht für fristauslösende Nachrichtenzustellungen wurde neu aufgenommen. Für den generischen Antragsprozess wurde die Zuordnung von Anträgen verbessert durch Aufnahme einer Auswahlliste für die abgedeckten Antragsarten. Weitere Details zu Änderungen sind in der Versionshistorie des Spezifikationsdokuments enthalten.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xbau-kernmodul-basisdatentypen.xsd"/>
   <xs:include schemaLocation="xbau-kernmodul-codes.xsd"/>
   <xs:include schemaLocation="xbau-kernmodul-datentypen.xsd"/>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:import schemaLocation="latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:import schemaLocation="xoev-basisnachricht-g2g_1.1.xsd"
              namespace="http://xoev.de/schemata/basisnachricht/g2g/1_1"/>
   <xs:element name="prozessnachrichten.rueckweisung.G2G.1100">
      <xs:annotation>
         <xs:appinfo>
            <title>Rückweisungsnachricht G2G</title>
         </xs:appinfo>
         <xs:documentation>Mittels dieser Nachricht wird eine Nachricht abgewiesen, die Fehler enthält, so dass sie nicht zielführend verarbeitet werden kann (Behörde-Behörde-Kommunikation). Der Autor der fehlerhaften Nachricht wird über die Fehler unterrichtet. Die abgewiesene Nachricht wird zur Information aufgeführt. Hinweis: Eine Nachricht dieses Typs darf nicht wiederum mit einer solchen Nachricht zurückgewiesen werden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="anbindungFachverfahren"
                              minOccurs="0"
                              type="xbauk:AnbindungFachverfahren">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um die behördliche Fachanwendung an das Antragsportal oder die Kollaborationsplattform anzubinden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="rueckweisungDaten" type="xbauk:Rueckweisung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Fehler einer gegebenenen Nachricht benannt, der zu der vorliegenden Rückweisung geführt hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.eingangsbestaetigung.1120">
      <xs:annotation>
         <xs:appinfo>
            <title>Bestätigung Eingang von Antrag oder Anzeige</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird durch die Fachbehörde verwendet, um als Reaktion auf einen Antrag (modifizierten Antrag, Rücknahme eines Antrags, Anzeige) zu informieren, dass das Anliegen eingegangen ist und sich in Bearbeitung befindet. Sie enthält die nötigen Informationen, um den Bezug auf die Nachricht, deren Eingang sie bestätigt, herzustellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält, um Bezug zu nehmen, die Vorgangsnummer bzw. die Referenz des Antrags (Zeichen des Antragstellers). Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist in das Element referenz die UUID der Antragsnachricht (Element referenzAntragsservice) einzutragen, auf die sich die Eingangsbestätigung bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="information" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier kann die Fachbehörde ergänzend erläuternden Text in die Nachricht einfügen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.aktenzeichen.1121">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung des zugewiesenen Aktenzeichens</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird durch die Fachbehörde verwendet, um einen Antragsteller über die zugewiesene Vorgangsnummer bzw. das zugewiesene Aktenzeichen zu informieren.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält zur Information die Vorgangsnummer bzw. das Aktenzeichen, unter der die Behörde das Anliegen bearbeitet. Mit der Angabe der Referenz des Antragstellers wird der Bezug für diesen hergestellt. Eine Referenzierung auf eine Nachricht wird in diese Nachricht nicht eingetragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.ruecknahme.1130">
      <xs:annotation>
         <xs:appinfo>
            <title>Rücknahme eines Antrags</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht kann durch einen Antragsteller verwendet werden, um einen in der Vergangenheit gestellten Antrag zurückzuziehen bzw. die Absicht einer solchen Rücknahme zu kommunizieren.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In dieses Element sind die Referenzen von Antragsteller und ggf. Behörde einzutragen. Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist in das Element referenz die UUID der Antragsnachricht (Element referenzAntragsservice) einzutragen, auf die sich die Rücknahme bezieht. Eine Referenzierung auf eine Nachricht wird in diese Nachricht nicht eingetragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="information" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier kann optional durch den Antragsteller eine Begründung eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Ggf. will der Antragsteller der Rücknahme des Antrags ein Schreiben beilegen. Das lässt sich mit diesem Element abbilden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.quittierungRuecknahme.1131">
      <xs:annotation>
         <xs:appinfo>
            <title>Quittierung der Rücknahme eines Antrags</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird von der Fachbehörde verwendet, um die Rücknahme des Antrags durch den Antragsteller zu quittieren, also zu bestätigen, dass die Rücknahme durch die Behörde akzeptiert wurde (mit gegebenen Konsequenzen für den Antragsteller). Ggf. kann sie aber auch die Information enthalten, dass der Antrag nicht mehr zurückgenommen werden kann.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>In dieses Element sind die Referenzen von Antragsteller und ggf. Behörde einzutragen. Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist in das Element referenz die UUID der Antragsnachricht (Element referenzAntragsservice) einzutragen, auf die sich die Rücknahme bezieht. Es ist die Nachricht des Antragstellers zu referenzieren, mittels derer er über seine Absicht informiert hat, den Antrag zurückzunehmen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ruecknahmeAkzeptiert" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Falls die Rücknahme des Antrags durch die Fachbehörde akzeptiert wurde, wird in diesem Element "true" übermittelt. Andernfalls wird "false" übermittelt. Dann ist eine Rücknahme des Antrags nicht mehr möglich, weil bereits ein Bescheid erteilt wurde, der dem Antragsteller auf dem vorgesehenen Wege zugehen wird oder bereits zugegangen ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="information" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier kann optional eine Begründung oder Erläuterung der Fachbehörde eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.formellePruefungBefundliste.1140">
      <xs:annotation>
         <xs:appinfo>
            <title>Befundliste als Ergebnis einer formellen Prüfung</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht bezieht sich auf einen gestellten Antrag oder eine übermittelte Anzeige oder Erklärung. Enthalten sind die Ergebnisse einer formellen Prüfung (Befunde) sowie ggf. eine Frist, innerhalb derer Antrag bzw. Anzeige anzupassen ist (bei einer Anpassung kann es sich um Korrekturen oder um eine Vervollständigung handeln). Es besteht außerdem die Möglichkeit, dem Leser textliche Informationen oder sonstige Ressourcen (als Anlage oder Verlinkung) zur Verfügung zu stellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den Vorgang bzw. die Nachricht Bezug zu nehmen, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist. Damit wird gleichzeitig dem Antragsteller die entsprechende Vorgangsnummer für künftige Referenzierung mitgeteilt. Dadurch ist der Bezug zum Antrag oder zur Anzeige hergestellt, zu dessen/deren formeller Prüfung die vorliegende Nachricht Ergebnisse enthält.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="dokumentationVollstaendig" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird angegeben, ob die Dokumentation zu dem Vorgang vollständig oder nicht vollständig ist. Im Falle der Vollständigkeit ist "true" einzutragen, andernfalls "false".</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befundFrist" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Falls im Rahmen der formellen Prüfung Mängel festgestellt wurden, sind diese Angaben zu machen. Die Befundliste enthält die Ergebnisse der formellen Prüfung durch die Bauaufsichtsbehörde. Enthalten ist außerdem eine Frist zur Anpassung von Vorhaben bzw. Unterlagen durch den Antragsteller.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="befundliste" type="xbauk:BefundlisteFormell">
                              <xs:annotation>
                                 <xs:documentation>In diesem Element sind die Ergebnisse der formellen Prüfung enthalten. Sie haben die Form einer Liste von Mängeln des geprüften Gegenstandes.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="frist" minOccurs="0" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation>Im Falle einer Unvollständigkeit der Dokumente kann in dieses Element wird - falls im entsprechenden Vorgang vorgesehen - eine durch die Behörde gesetzte Frist eingetragen, innerhalb derer die genannten Mängel zu beseitigen und die Unterlagen erneut einzureichen sind. Falls im Rahmen der formellen Prüfung alle Merkmale positiv bewertet wurden (Dokumentation vollständig), sind die Angaben zur Genehmigungsfrist und zu den eingereichten Unterlagen hier zu machen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anschreiben" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element kann ein Anschreibentext eingetragen werden. Der Anschreibentext kann auch verwendet werden, um Informationen zu organisatorischen Themen zwischen Bauaufsicht und Bauvorhaben zu übermitteln, beispielsweise zur Mitteilung eines Anhörungstermins.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angebotFuerAntwortLeser"
                              minOccurs="0"
                              type="xbauk:Verlinkung">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um Webressourcen für ggf. nötige Reaktionen des Lesers auf die vorliegende Nachricht anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Falls die Behörde der Nachricht Anlagen beifügen möchte, ist dieses Element zu verwenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.zustellungSchreiben.1141">
      <xs:annotation>
         <xs:appinfo>
            <title>Zustellung eines Schreibens der Fachbehörde an Bauherrn oder Entwurfsverfasser</title>
         </xs:appinfo>
         <xs:documentation>Mittels dieser Nachricht kann die Fachbehörde einem Antragsteller oder sonstigem Beteiligten am Bauvorhaben eine Nachricht (Anschreiben mit Anlagen) zustellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Bezug auf Vorgang und Nachricht, auf die sich die Inhalte der vorliegenden Nachricht beziehen. Oder Angabe einer Vorgangsnummer für zukünftige Bezugnahme auf diese Nachricht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschreiben" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>In dieses Element ist der Anschreibentext der Nachricht einzutragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angebotFuerAntwortLeser"
                              minOccurs="0"
                              type="xbauk:Verlinkung">
                     <xs:annotation>
                        <xs:documentation>Dieses Element kann verwendet werden, um Webressourcen für ggf. nötige Reaktionen des Lesers auf die vorliegende Nachricht anzugeben .</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Dieses Element ist für Anlagen zur Nachricht zu verwenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.fachlicheKommunikation.1142">
      <xs:annotation>
         <xs:appinfo>
            <title>Fachliche Kommunikation im Verfahren</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht dient der informellen, fachlichen Kommunikation innerhalb eines Verfahrens. Sie wird zum einen für Rückfragen eines Beteiligten des Verfahrens und zum anderen für die zugehörige Antwort der Fachbehörde verwendet. Diese Nachricht darf nicht verwendet werden, wenn für den Kommunikationsanlass spezifische Fachnachrichten verfügbar sind. Ergänzungen zum Antrag sind beispielsweise mit der Fachmodulnachricht 0202 einzureichen. Die Portale sind angehalten, dafür zu sorgen, dass ein Missbrauch der Nachricht verhindert wird. Dies kann gegebenenfalls durch Einschränkung der Größe der Anlagen geschehen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist in das Element referenz entweder die UUID (Element referenzAntragsservice) der Antragsnachricht, die Vorgangsnummer oder das Aktenzeichen (Element vorgang) einzutragen, auf die sich die fachliche Kommunikation bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschreiben">
                     <xs:annotation>
                        <xs:documentation>In dieses Element ist der Anschreibentext der Nachricht (Rückfrage des Beteiligten oder Antwort der Behörde) einzutragen. Der Anschreibentext kann unformatiert oder formatiert übermittelt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="textUnformatiert" type="xbauk:Text">
                              <xs:annotation>
                                 <xs:documentation>Hier wird der unformatierte Text übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="textFormatiert" type="xbauk:TextFormatiert">
                              <xs:annotation>
                                 <xs:documentation>Hier wird der formatierte Text übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="anlagen" minOccurs="0" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element können Metadaten zu Anlagen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.einstellenDokumente.1150">
      <xs:annotation>
         <xs:appinfo>
            <title>Einstellen von Dokumenten in einen Projektraum</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die Aufsichtsbehörde Dokumente in einen Projektraum einstellen, z. B. ergänzende Dokumentation zum Antrag, zur Prüfung des Antrags oder zur Ämterbeteiligung; auch z. B. einen digitalisierten Papierantrag mit Anlagen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang oder Projektraum eindeutig zuordnen lässt. Dafür ist in das Element referenz die UUID der Antragsnachricht (Element referenzAntragsservice) einzutragen, auf die sich das Einstellen der Dokumente bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ablageort" minOccurs="0" type="xbauk:Code.Ablageort">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann ein Ablageort innerhalb der jeweiligen Struktur des Portals bzw. der Plattform für das Dokument angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlagen" type="xbauk:Anlagen">
                     <xs:annotation>
                        <xs:documentation>In diesem Element werden die Metadaten zur Anlage übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.gebuehrenbescheid.1160">
      <xs:annotation>
         <xs:appinfo>
            <title>Zustellung eines Gebührenbescheids</title>
         </xs:appinfo>
         <xs:documentation>Mittels dieser Nachricht kann die Aufsichtsbehörde dem Antragsteller (und anderen Gebührenschuldnern) einen Gebührenbescheid mit Gebührenberechnung und -begründung, sowie Zahlungsdaten zustellen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist in das Element referenz die UUID der Antragsnachricht (Element referenzAntragsservice) einzutragen, auf die sich der Gebührenbescheid bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gebuehrenbescheid" type="xbauk:Gebuehrenbescheid">
                     <xs:annotation>
                        <xs:documentation>Unterhalb dieses Element finden sich die Angaben zur Gebührenberechnung und -begründung, sowie die Zahlungsdaten und weitere Informationen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Dies ist die durch die Behörde gesetzte Zahlungsfrist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.statusFuerAntragsportal.1170">
      <xs:annotation>
         <xs:appinfo>
            <title>Statusnachricht ans Antragsportal</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht kann durch eine Aufsichtsbehörde verwendet werden, um das Antragsportal über eine Statusänderung im Rahmen eines Vorgangs, der durch die Aufsichtsbehörde geführt wird, zu informieren. Das Antragsportal verwendet diese Information, um den im Antragsportal geführten Status zu diesem Vorgang anzupassen. Hinweis: Bei vorhandenen spezifischen Nachrichten darf diese generische Nachricht nicht genutzt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Hier müssen Eintragungen vorgenommen werden, so dass sich die Nachricht einem vorhandenen Vorgang eindeutig zuordnen lässt. Dafür ist entweder in das Element referenz die UUID aus der Antrags- oder Anzeigenachricht, die den Vorgang initiiert hat oder in das Element vorgang die Vorgangsnummer oder das Aktenzeichen, unter dem das Verfahren in der Aufsichtsbehörde geführt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="statusAntragsportal" type="xbauk:Code.XBau-StatusAntragsportal">
                     <xs:annotation>
                        <xs:documentation>In dieses Element wird der Status eingetragen, der ans Antragsportal übermittelt werden soll.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="frist" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>In dieses Element wird - falls im entsprechenden Status vorgesehen - eine von der Behörde gesetzte Frist eingetragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="begruendung" minOccurs="0" type="xbauk:TextFormatiert">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die Aufsichtsbehörde Information übermitteln, um den Statusübergang im Portal zu erläutern.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.generischeQuittierungEingang.1180">
      <xs:annotation>
         <xs:appinfo>
            <title>Quittierung des Eingangs einer Nachricht</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird durch die Fachbehörde oder das Bauportal verwendet, um den Eingang einer Nachricht zu quittieren. Sie ist nur zu verwenden, wenn für den zu quittierenden Nachrichtentyp keine spezifische Quittungsnachricht vorgesehen ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält, um Bezug zu nehmen, die Vorgangsnummer bzw. die Referenz der zu quittierenden Nachricht. Dafür ist in das Element referenz die UUID der Nachricht einzutragen, auf die sich die Eingangsbestätigung bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="nachrichtentyp" type="xbauk:Code.XBau-QuittierteNachricht">
                     <xs:annotation>
                        <xs:documentation>Hier ist der Typ der Nachricht auszuwählen, die mit der vorliegenden Nachricht quittiert wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="information" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier kann optional eine Begründung oder Erläuterung eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="prozessnachrichten.generischeRueckmeldungAbruf.1181">
      <xs:annotation>
         <xs:appinfo>
            <title>Rückmeldung über den Abruf eines Bescheids</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht ist vom Bauportal zu verwenden um der Fachbehörde rückzumelden, dass ein von der Behörde übermittelter Bescheid durch den Antragsteller abgerufen worden ist bzw. dass dies nicht innerhalb der vorgesehenen Frist erfolgt ist. Sie wird folglich in zwei Situationen versendet: Entweder, wenn der Abruf der referenzierten Bescheidnachricht innerhalb der vorgesehenen Frist erfolgte, oder wenn die Frist verstrichen ist und kein Abruf erfolgt ist. Die Nachricht enthält im Minimalfall lediglich den Bezug auf die abzurufende Bescheidnachricht und die Information, ob der Abruf fristgerecht erfolgt ist oder nicht. Zusätzlich kann die Frist und ggf. eine Zusatzinformation in der Nachricht enthalten sein.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbauk:Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="bezug" type="xbauk:BezugErweitert">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält, um Bezug zu nehmen, die Vorgangsnummer bzw. die Referenz der Nachricht, deren Abruf gemeldet werden soll. Dafür ist in das Element referenz die UUID der Nachricht einzutragen, auf die sich die Rückmeldung bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="information" minOccurs="0" type="xbauk:Text">
                     <xs:annotation>
                        <xs:documentation>Hier kann optional eine Zusatzinformation eingetragen werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="fristinformation" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann darüber informiert werden, bis wann die referenzierte Nachricht hätte abgerufen werden müssen, so dass der Abruf als fristgerecht gilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="abrufFristgerechtErfolgt" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Erfolgte der Abruf der referenzierten Nachricht fristgerecht, ist in diesem Element der Wert "true" zu übermitteln. Ist die Frist abgelaufen, ohne dass der Abruf erfolgte, ist "false" zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
